In [1]:
import pandas as pd
import numpy as np

In [2]:
# 读取数据
rating_df = pd.read_csv('ml-latest-small/ratings.csv')
rating_df

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [3]:
# 查看基本信息
rating_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [4]:
# 删除无用列
rating_df.drop(['timestamp'],axis=1,inplace=True)

In [5]:
print(rating_df)

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100831     610   166534     4.0
100832     610   168248     5.0
100833     610   168250     5.0
100834     610   168252     5.0
100835     610   170875     3.0

[100836 rows x 3 columns]

In [6]:
len(rating_df['movieId'].unique().tolist())

9724

In [7]:
len(rating_df['userId'].unique().tolist())

610

In [27]:
# print(pd.DataFrame(
#     [
#         ['userid1', 3, 4, 5],
#         ['userid2', 5, 1, np.nan],
#         ['userid3', 3, 1, 4]
#     ]
#     , columns=['userid', 'movieid1', 'movieid2', 'movieid3']
# ))

In [114]:
# 使用pivot_table函数将数据转换为列联表
pivot_df = pd.pivot_table(rating_df, values='rating', index='userId', columns='movieId', aggfunc='first')

# 重命名列名
pivot_df.columns = ['movieid{}'.format(col) for col in pivot_df.columns]

# 重置索引并重命名索引列
pivot_df.reset_index(inplace=True)

In [9]:
pivot_df.to_csv('pivot_df.csv',index=False)

In [113]:
user_similar = pivot_df.T.corr()
user_similar

,0,1,2,3,4,5,6,7,8,9,...,600,601,602,603,604,605,606,607,608,609
0,1.000000,1.000000,-0.099912,0.159951,-0.072169,-0.411503,-0.398105,-0.418265,-0.715184,-0.794552,...,-0.943794,-0.636918,-0.376609,-0.785318,-0.596206,-0.410681,-0.430070,-0.307009,-0.866802,-0.552199
1,1.000000,1.000000,NaN,-1.000000,-1.000000,-0.866025,-0.943742,-1.000000,NaN,-0.618903,...,-0.679423,-1.000000,-0.982252,NaN,NaN,-0.844866,-1.000000,-0.826883,-1.000000,-0.527826
2,-0.099912,NaN,1.000000,-1.000000,NaN,0.942809,NaN,1.000000,NaN,NaN,...,0.999999,0.999996,0.248346,NaN,-1.000000,0.294414,0.299925,0.285938,NaN,0.014045
3,0.159951,-1.000000,-1.000000,1.000000,-0.310200,0.180060,0.503856,0.306331,1.000000,0.396753,...,0.134736,0.107267,0.028032,0.200680,0.026339,0.037101,0.037343,0.060300,0.192026,0.039122
4,-0.072169,-1.000000,NaN,-0.310200,1.000000,0.120412,0.419246,0.251976,NaN,0.262297,...,0.534522,0.276643,0.289624,0.397702,0.274980,0.223984,0.399014,0.264405,0.449481,0.410136
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,-0.410681,-0.844866,0.294414,0.037101,0.223984,0.297533,0.284389,0.717111,0.783101,0.699936,...,0.999972,0.999905,0.999418,0.999983,0.999913,1.000000,0.999859,0.999560,0.999992,0.999765
606,-0.430070,-1.000000,0.299925,0.037343,0.399014,0.359862,0.534787,0.756147,1.000000,0.968036,...,0.999996,0.999940,0.999724,0.999967,0.999935,0.999859,1.000000,0.999796,0.999989,0.999882
607,-0.307009,-0.826883,0.285938,0.060300,0.264405,0.219133,0.266505,0.561963,0.706414,0.712799,...,0.999965,0.999875,0.999352,0.999888,0.999824,0.999560,0.999796,1.000000,0.999982,0.999493
608,-0.866802,-1.000000,NaN,0.192026,0.449481,0.442510,0.749383,0.750508,NaN,0.963123,...,1.000000,0.999973,0.999977,0.999992,0.999983,0.999992,0.999989,0.999982,1.000000,0.999982
609,-0.552199,-0.527826,0.014045,0.039122,0.410136,0.395583,0.290814,0.752025,0.719704,0.561357,...,0.999941,0.999936,0.999628,0.999980,0.999916,0.999765,0.999882,0.999493,0.999982,1.000000

In [115]:
# 定义一个函数来根据用户的相似度得分和其他用户的评分来推荐电影
def recommend_movies_by_similarity(N,user_similar, pivot_df, user_id, num_recommendations=10):
    # 获取当前用户的评分
    user_ratings = pivot_df.loc[user_id][1:].dropna()
    
    # 初始化推荐电影的字典，用于存储电影ID和加权分数
    recommended_movies = {}
    
    # 获取当前用户的相似用户及其相似度得分
    similar_users_scores = user_similar.loc[user_id].sort_values(ascending=False)[1:N+1]
    
    # 遍历每个相似用户及其相似度得分
    for similar_user, similarity_score in similar_users_scores.items():
        # 获取相似用户的评分
        similar_user_ratings = pivot_df.loc[similar_user][1:].dropna()
        score = 0
        # 对于相似用户评分的每部电影，累加加权分数（相似度得分 * 相似用户的评分）
        for movie, rating in similar_user_ratings.items():
            # 如果当前用户没有评过这部电影，则添加到字典中
            if movie not in recommended_movies:
                recommended_movies[movie] = 0.0
            # 累加加权分数
            score += similarity_score
            recommended_movies[movie] += similarity_score * rating 
        
    # 过滤掉当前用户已经评分的电影
    recommended_movies = {movie: score for movie, score in recommended_movies.items() if movie not in user_ratings}

    # 对推荐电影的分数进行降序排序
    sorted_recommendations = sorted(recommended_movies.items(), key=lambda x: x[1], reverse=True)
    
    # 获取前num_recommendations个推荐电影
    top_recommendations = sorted_recommendations[:num_recommendations]
    
    return top_recommendations

# 使用推荐函数为特定用户推荐电影
user_id = 3  # 请替换为实际的用户ID
num_recommendations = 5  # 您想要的推荐数量
recommended_list = recommend_movies_by_similarity(3,user_similar, pivot_df, user_id, num_recommendations)

# 打印推荐的电影列表
for movie, score in recommended_list:
    print(f"推荐电影: {movie} (分数: {score:.2f})")

推荐电影: movieid109487 (分数: 10.00)
推荐电影: movieid4993 (分数: 9.50)
推荐电影: movieid79132 (分数: 9.00)
推荐电影: movieid116797 (分数: 9.00)
推荐电影: movieid59315 (分数: 8.50)

In [83]:
similar_users_scores = user_similar.loc[0].sort_values(ascending=False)[1:3+1]
similar_users_scores

1    1.000000
3    0.159951
4   -0.072169
Name: 0, dtype: float64

In [99]:
user_ratings = pivot_df.loc[0][1:].dropna()
user_ratings

movieid1       4.0
movieid3       4.0
movieid6       4.0
movieid47      5.0
movieid50      5.0
              ...
movieid3744    4.0
movieid3793    5.0
movieid3809    4.0
movieid4006    4.0
movieid5060    5.0
Name: 0, Length: 232, dtype: float64

In [110]:
# recommended_movies = {}
# for similar_user, similarity_score in similar_users_scores.items():
#     
#     similar_user_ratings = pivot_df.loc[similar_user][1:].dropna()
#     
#     for movie, rating in similar_user_ratings.items():
#         if movie not in recommended_movies:
#             recommended_movies[movie] = 0.0
#         recommended_movies[movie] += similarity_score * rating
#         
# recommended_movies = {movie: score for movie, score in recommended_movies.items() if movie not in user_ratings}
# 
# print(recommended_movies)

{'movieid318': 2.7834936490538906, 'movieid1704': 4.6599509736047064, 'movieid6874': 3.9999999999999996, 'movieid8798': 3.4999999999999996, 'movieid46970': 3.9999999999999996, 'movieid48516': 3.9999999999999996, 'movieid58559': 4.499999999999999, 'movieid60756': 4.999999999999999, 'movieid68157': 4.499999999999999, 'movieid71535': 2.9999999999999996, 'movieid74458': 3.9999999999999996, 'movieid77455': 2.9999999999999996, 'movieid79132': 3.9999999999999996, 'movieid80489': 4.499999999999999, 'movieid80906': 4.999999999999999, 'movieid86345': 3.9999999999999996, 'movieid89774': 4.999999999999999, 'movieid91529': 3.4999999999999996, 'movieid91658': 2.4999999999999996, 'movieid99114': 3.4999999999999996, 'movieid106782': 4.999999999999999, 'movieid109487': 2.9999999999999996, 'movieid112552': 3.9999999999999996, 'movieid114060': 1.9999999999999998, 'movieid115713': 3.4999999999999996, 'movieid122882': 4.999999999999999, 'movieid131724': 4.999999999999999, 'movieid21': 0.19117778621930914, 'movieid32': 0.31990194720941423, 'movieid45': 0.47985292081412134, 'movieid52': 0.47985292081412134, 'movieid58': 0.11900900257060609, 'movieid106': 0.6398038944188285, 'movieid125': 0.7997548680235356, 'movieid126': 0.15995097360470711, 'movieid162': 0.7997548680235356, 'movieid171': 0.47985292081412134, 'movieid176': 0.7997548680235356, 'movieid190': 0.31990194720941423, 'movieid215': 0.7997548680235356, 'movieid222': 0.15995097360470711, 'movieid232': 0.5110797334287234, 'movieid247': 0.11900900257060609, 'movieid265': 0.5832485170774264, 'movieid319': 0.7997548680235356, 'movieid342': 0.7997548680235356, 'movieid345': 0.6398038944188285, 'movieid348': 0.6398038944188285, 'movieid351': 0.47985292081412134, 'movieid357': 0.33551535351671524, 'movieid368': 0.6398038944188285, 'movieid417': 0.31990194720941423, 'movieid450': 0.31990194720941423, 'movieid475': 0.4389109497800203, 'movieid492': 0.7997548680235356, 'movieid509': 0.15995097360470711, 'movieid538': 0.7997548680235356, 'movieid539': 0.15995097360470711, 'movieid588': 0.35112875982401626, 'movieid595': 0.11900900257060609, 'movieid599': 0.31990194720941423, 'movieid708': 0.6398038944188285, 'movieid759': 0.47985292081412134, 'movieid800': 0.6398038944188285, 'movieid892': 0.6398038944188285, 'movieid898': 0.7997548680235356, 'movieid899': 0.6398038944188285, 'movieid902': 0.6398038944188285, 'movieid904': 0.6398038944188285, 'movieid908': 0.7997548680235356, 'movieid910': 0.7997548680235356, 'movieid912': 0.7997548680235356, 'movieid914': 0.7997548680235356, 'movieid920': 0.7997548680235356, 'movieid930': 0.7997548680235356, 'movieid937': 0.47985292081412134, 'movieid1046': 0.7997548680235356, 'movieid1057': 0.47985292081412134, 'movieid1077': 0.7997548680235356, 'movieid1079': 0.31990194720941423, 'movieid1084': 0.7997548680235356, 'movieid1086': 0.7997548680235356, 'movieid1094': 0.47985292081412134, 'movieid1103': 0.7997548680235356, 'movieid1179': 0.6398038944188285, 'movieid1183': 0.15995097360470711, 'movieid1188': 0.7997548680235356, 'movieid1199': 0.31990194720941423, 'movieid1203': 0.7997548680235356, 'movieid1211': 0.15995097360470711, 'movieid1225': 0.6398038944188285, 'movieid1250': 0.7997548680235356, 'movieid1259': 0.6398038944188285, 'movieid1266': 0.6398038944188285, 'movieid1279': 0.31990194720941423, 'movieid1283': 0.7997548680235356, 'movieid1288': 0.6398038944188285, 'movieid1304': 0.47985292081412134, 'movieid1391': 0.15995097360470711, 'movieid1449': 0.7997548680235356, 'movieid1466': 0.6398038944188285, 'movieid1597': 0.15995097360470711, 'movieid1641': 0.6398038944188285, 'movieid1719': 0.6398038944188285, 'movieid1733': 0.7997548680235356, 'movieid1734': 0.47985292081412134, 'movieid1834': 0.7997548680235356, 'movieid1860': 0.31990194720941423, 'movieid1883': 0.6398038944188285, 'movieid1885': 0.47985292081412134, 'movieid1892': 0.31990194720941423, 'movieid1895': 0.6398038944188285, 'movieid1907': 0.47985292081412134, 'movieid1914': 0.6398038944188285, 'movieid1916': 0.15995097360470711, 'movieid1923': 0.47985292081412134, 'movieid1947': 0.7997548680235356, 'movieid1966': 0.31990194720941423, 'movieid1968': 0.6398038944188285, 'movieid2019': 0.31990194720941423, 'movieid2076': 0.6398038944188285, 'movieid2109': 0.6398038944188285, 'movieid2145': 0.47985292081412134, 'movieid2150': 0.7997548680235356, 'movieid2186': 0.7997548680235356, 'movieid2203': 0.6398038944188285, 'movieid2204': 0.7997548680235356, 'movieid2282': 0.15995097360470711, 'movieid2324': 0.15995097360470711, 'movieid2336': 0.31990194720941423, 'movieid2351': 0.6398038944188285, 'movieid2359': 0.6398038944188285, 'movieid2390': 0.7997548680235356, 'movieid2467': 0.6398038944188285, 'movieid2583': 0.7997548680235356, 'movieid2599': 0.7997548680235356, 'movieid2683': 0.6398038944188285, 'movieid2712': 0.31990194720941423, 'movieid2762': 0.6398038944188285, 'movieid2763': 0.15995097360470711, 'movieid2770': 0.31990194720941423, 'movieid2791': 0.7997548680235356, 'movieid2843': 0.7997548680235356, 'movieid2874': 0.6398038944188285, 'movieid2921': 0.6398038944188285, 'movieid2926': 0.7997548680235356, 'movieid2973': 0.31990194720941423, 'movieid3044': 0.7997548680235356, 'movieid3060': 0.6398038944188285, 'movieid3079': 0.47985292081412134, 'movieid3083': 0.7997548680235356, 'movieid3160': 0.6398038944188285, 'movieid3175': 0.15995097360470711, 'movieid3204': 0.6398038944188285, 'movieid3255': 0.6398038944188285, 'movieid3317': 0.6398038944188285, 'movieid3358': 0.47985292081412134, 'movieid3365': 0.7997548680235356, 'movieid3408': 0.6398038944188285, 'movieid3481': 0.31990194720941423, 'movieid3508': 0.7997548680235356, 'movieid3538': 0.31990194720941423, 'movieid3591': 0.15995097360470711, 'movieid3788': 0.47985292081412134, 'movieid3851': 0.7997548680235356, 'movieid3897': 0.6398038944188285, 'movieid3911': 0.47985292081412134, 'movieid3967': 0.6398038944188285, 'movieid3996': 0.6398038944188285, 'movieid4002': 0.47985292081412134, 'movieid4014': 0.15995097360470711, 'movieid4020': 0.47985292081412134, 'movieid4021': 0.6398038944188285, 'movieid4027': 0.47985292081412134, 'movieid4029': 0.47985292081412134, 'movieid4033': 0.6398038944188285, 'movieid4034': 0.7997548680235356, 'movieid4074': 0.47985292081412134, 'movieid4121': 0.6398038944188285, 'movieid4144': 0.47985292081412134, 'movieid4166': 0.47985292081412134, 'movieid4226': 0.31990194720941423, 'movieid4239': 0.7997548680235356, 'movieid4246': 0.6398038944188285, 'movieid4252': 0.47985292081412134, 'movieid4260': 0.31990194720941423, 'movieid4273': 0.6398038944188285, 'movieid4308': 0.15995097360470711, 'movieid4347': 0.6398038944188285, 'movieid4381': 0.47985292081412134, 'movieid4641': 0.15995097360470711, 'movieid4741': 0.47985292081412134, 'movieid4765': 0.7997548680235356, 'movieid4881': 0.47985292081412134, 'movieid4896': 0.6398038944188285, 'movieid4902': 0.6398038944188285, 'movieid4967': 0.7997548680235356, 'movieid34': -0.2886751345948122, 'movieid36': -0.2886751345948122, 'movieid39': -0.21650635094610915, 'movieid150': -0.21650635094610915, 'movieid153': -0.21650635094610915, 'movieid253': -0.21650635094610915, 'movieid261': -0.2886751345948122, 'movieid266': -0.07216878364870305, 'movieid290': -0.36084391824351525, 'movieid300': -0.21650635094610915, 'movieid344': -0.21650635094610915, 'movieid364': -0.21650635094610915, 'movieid380': -0.1443375672974061, 'movieid410': -0.21650635094610915, 'movieid474': -0.2886751345948122, 'movieid515': -0.21650635094610915, 'movieid531': -0.2886751345948122, 'movieid534': -0.21650635094610915, 'movieid589': -0.21650635094610915, 'movieid594': -0.36084391824351525, 'movieid597': -0.21650635094610915}

In [130]:
similar_users_scores = user_similar.loc[1].sort_values(ascending=False)[1:3+1]
similar_users_scores

0      1.000000
447   -0.455029
413   -0.491061
Name: 1, dtype: float64

In [135]:
# 选择用户1的相似用户得分，并排除负数得分，然后取前3个正值得分进行排序
similar_users_scores = user_similar.loc[1].drop(user_similar.loc[1][user_similar.loc[1] <= 0].index).sort_values(ascending=False)[1:3+1].dropna()
similar_users_scores

# 现在 similar_users_scores 包含了用户1的前3个正值相似度得分

0    1.0
Name: 1, dtype: float64

In [151]:
# 定义一个函数来根据用户的相似度得分和其他用户的评分来推荐电影
def recommend_movies_by_similarity(N,user_similar, pivot_df, user_id, num_recommendations=10):
    # 获取当前用户的评分,第一行是userId，去空
    user_ratings = pivot_df.loc[user_id][1:].dropna()
    
    # 存储电影ID和加权分数
    recommended_movies = {}
    
    # 获取当前用户的相似用户及其相似度得分 求前N个相似的用户
    similar_users_scores = user_similar.loc[user_id].sort_values(ascending=False)[1:N+1]
    # similar_users_scores = user_similar.loc[user_id].drop(user_similar.loc[user_id][user_similar.loc[1] <= 0].index).dropna().sort_values(ascending=False)[1:N+1]
    
    # 初始化分母（所有相似度得分的总和）
    sum_similarities = 0
    
    # 遍历每个相似用户及其相似度得分
    for similar_user, similarity_score in similar_users_scores.items():
        sum_similarities += similarity_score  # 更新分母
        
        # 获取相似用户的评分 第一行是userId，去空
        similar_user_ratings = pivot_df.loc[similar_user][1:].dropna()
        
        # 对于相似用户评分的每部电影，累加加权分数（相似度得分 * 相似用户的评分）
        for movie, rating in similar_user_ratings.items():
            # 如果当前用户没有评过这部电影，则添加到字典中
            if movie not in recommended_movies:
                recommended_movies[movie] = 0.0
            # 累加加权分数
            recommended_movies[movie] += similarity_score * rating
            # print(recommended_movies[movie])
    
    # 计算每个电影的加权平均分数
    for movie, score in recommended_movies.items():
        # 如果分母不为0，则更新电影的推荐分数，否则设置为0
        recommended_movies[movie] = score / sum_similarities if sum_similarities else 0
    
    # 过滤
    recommended_movies = {movie: score for movie, score in recommended_movies.items() if movie not in user_ratings}

    # 降序
    sorted_recommendations = sorted(recommended_movies.items(), key=lambda x: x[1], reverse=True)

    top_recommendations = sorted_recommendations[:num_recommendations]
    
    return top_recommendations

# 使用推荐函数为特定用户推荐电影
user_id = 1
num_recommendations = 10
N = 3

recommended_list = recommend_movies_by_similarity(N,user_similar, pivot_df, user_id, num_recommendations)

# 打印推荐的电影列表
for movie, score in recommended_list:
    print(f"推荐电影: {movie} (分数: {score:.2f})")

推荐电影: movieid110 (分数: 3.33)
推荐电影: movieid593 (分数: 3.00)
推荐电影: movieid260 (分数: 1.67)
推荐电影: movieid608 (分数: 1.67)
推荐电影: movieid898 (分数: 1.67)
推荐电影: movieid904 (分数: 1.67)
推荐电影: movieid905 (分数: 1.67)
推荐电影: movieid908 (分数: 1.67)
推荐电影: movieid926 (分数: 1.67)
推荐电影: movieid935 (分数: 1.67)