In [1]:
print('hello world')

hello world

In [2]:
print('world')

world

In [3]:
s = " jian hao jjjj"
s = s.strip()
s

'jian hao jjjj'

In [4]:
print('Hello, world\'!')

Hello, world'!

In [ ]:
sql = """
select t.id, t.platcreatetime, t.status, t.store_id, replace(kks.storename,'''','\''') storename, t.submittime, t.photo, t.phototype
from (select id, platcreatetime, 1 status, store_id, createtime submittime, display_photo_one photo, 2 phototype
        from store_check_distributor
        where createtime >= '2023-01-01 00:00:00'
        union all
        select id, platcreatetime, 1 status, store_id, createtime submittime, display_photo_two photo, 2 phototype
        from store_check_distributor
        where createtime >= '2023-01-01 00:00:00'
        union all
        select id, platcreatetime, 1 status, store_id, createtime submittime, sell_photo_one photo, 2 phototype
        from store_check_distributor
        where createtime >= '2023-01-01 00:00:00'
        union all
        select id, platcreatetime, 1 status, store_id, createtime submittime, sell_photo_two photo, 2 phototype
        from store_check_distributor
        where createtime >= '2023-01-01 00:00:00') t
left join kx_kq_store kks on t.store_id = kks.id
"""