In [1]:
import numpy as np
import pandas as pd

In [3]:
Countries = pd.Series(["India", "Canada", "Germany"], name="Countries")
print(Countries)

0      India
1     Canada
2    Germany
Name: Countries, dtype: object

In [4]:
values = ["India", "Canada", "Australia", "Japan", "Germany", "France"]
inds = ["IND", "CAN", "AUS", "JAP", "GER", "FRA"]

Countries = pd.Series(values, index=inds, name="Countries")
print(Countries)

IND        India
CAN       Canada
AUS    Australia
JAP        Japan
GER      Germany
FRA       France
Name: Countries, dtype: object

In [16]:

df = pd.DataFrame(data = {'Age': [30, 20, 22, 40, 32, 28, 39], 
                   'Color': ['Blue', 'Green', 'Red', 'White', 'Gray', 'Black', 'Red'], 
                   'Food': ['Steak', 'Lamb', 'Mango', 'Apple', 'Cheese', 'Melon', 'Beans'], 
                   'Height': [165, 70, 120, 80, 180, 172, 150], 
                   'Score': [4.6, 8.3, 9.0, 3.3, 1.8, 9.5, 2.2], 
                   'State': ['NY', 'TX', 'FL', 'AL', 'AK', 'TX', 'TX']}, 
                  index = ['Jane', 'Nick', 'Aaron', 'Penelope', 'Dean', 'Christina', 'Cornelia'])

# 1、显示Score列
print(df[['Score']])
# 2、显示Color、Score两列
print(df[['Color','Score']])
# 3、显示为整数值的列
print(df.select_dtypes('int'))
# 4、显示非字符串的列
print(df.select_dtypes(exclude='object'))

           Score
Jane         4.6
Nick         8.3
Aaron        9.0
Penelope     3.3
Dean         1.8
Christina    9.5
Cornelia     2.2
           Color  Score
Jane        Blue    4.6
Nick       Green    8.3
Aaron        Red    9.0
Penelope   White    3.3
Dean        Gray    1.8
Christina  Black    9.5
Cornelia     Red    2.2
           Age  Height
Jane        30     165
Nick        20      70
Aaron       22     120
Penelope    40      80
Dean        32     180
Christina   28     172
Cornelia    39     150
           Age  Height  Score
Jane        30     165    4.6
Nick        20      70    8.3
Aaron       22     120    9.0
Penelope    40      80    3.3
Dean        32     180    1.8
Christina   28     172    9.5
Cornelia    39     150    2.2

In [23]:
df = pd.DataFrame(data = {'Age': [30, 20, 22, 40, 32, 28, 39], 
                   'Color': ['Blue', 'Green', 'Red', 'White', 'Gray', 'Black', 'Red'], 
                   'Food': ['Steak', 'Lamb', 'Mango', 'Apple', 'Cheese', 'Melon', 'Beans'], 
                   'Height': [165, 70, 120, 80, 180, 172, 150], 
                   'Score': [4.6, 8.3, 9.0, 3.3, 1.8, 9.5, 2.2], 
                   'State': ['NY', 'TX', 'FL', 'AL', 'AK', 'TX', 'TX']}, 
                  index = ['Jane', 'Nick', 'Aaron', 'Penelope', 'Dean', 'Christina', 'Cornelia'])

# 显示Penelope行
print(df.loc[['Penelope']])
# 显示Cornelia, Jane, Dean三行
print(df.loc[['Cornelia', 'Jane', 'Dean']])
# 显示Aaron到Dean行（包括Dean行）
print(df.loc['Aaron':'Dean'])

          Age  Color   Food  Height  Score State
Penelope   40  White  Apple      80    3.3    AL
          Age Color    Food  Height  Score State
Cornelia   39   Red   Beans     150    2.2    TX
Jane       30  Blue   Steak     165    4.6    NY
Dean       32  Gray  Cheese     180    1.8    AK
          Age  Color    Food  Height  Score State
Aaron      22    Red   Mango     120    9.0    FL
Penelope   40  White   Apple      80    3.3    AL
Dean       32   Gray  Cheese     180    1.8    AK

In [31]:
df = pd.DataFrame(data = {'Age': [30, 20, 22, 40, 32, 28, 39], 
                   'Color': ['Blue', 'Green', 'Red', 'White', 'Gray', 'Black', 'Red'], 
                   'Food': ['Steak', 'Lamb', 'Mango', 'Apple', 'Cheese', 'Melon', 'Beans'], 
                   'Height': [165, 70, 120, 80, 180, 172, 150], 
                   'Score': [4.6, 8.3, 9.0, 3.3, 1.8, 9.5, 2.2], 
                   'State': ['NY', 'TX', 'FL', 'AL', 'AK', 'TX', 'TX']}, 
                  index = ['Jane', 'Nick', 'Aaron', 'Penelope', 'Dean', 'Christina', 'Cornelia'])

# 1、显示Penelope行
print(df.iloc[[3]])
# 2、显示Cornelia, Jane, Dean三行
print(df.iloc[[-1, 0, -3]])
# 3、显示Aaron到Dean行（包括Dean行）
print(df.iloc[2:5,:])

          Age  Color   Food  Height  Score State
Penelope   40  White  Apple      80    3.3    AL
          Age Color    Food  Height  Score State
Cornelia   39   Red   Beans     150    2.2    TX
Jane       30  Blue   Steak     165    4.6    NY
Dean       32  Gray  Cheese     180    1.8    AK
          Age  Color    Food  Height  Score State
Aaron      22    Red   Mango     120    9.0    FL
Penelope   40  White   Apple      80    3.3    AL
Dean       32   Gray  Cheese     180    1.8    AK

In [34]:
df = pd.DataFrame(data = {'Age': [30, 20, 22, 40, 32, 28, 39], 
                   'Color': ['Blue', 'Green', 'Red', 'White', 'Gray', 'Black', 'Red'], 
                   'Food': ['Steak', 'Lamb', 'Mango', 'Apple', 'Cheese', 'Melon', 'Beans'], 
                   'Height': [165, 70, 120, 80, 180, 172, 150], 
                   'Score': [4.6, 8.3, 9.0, 3.3, 1.8, 9.5, 2.2], 
                   'State': ['NY', 'TX', 'FL', 'AL', 'AK', 'TX', 'TX']}, 
                  index = ['Jane', 'Nick', 'Aaron', 'Penelope', 'Dean', 'Christina', 'Cornelia'])

# 1、选取Penelope行，Color、Height两列
print(df.loc[['Penelope'],['Color','Height']])
# 2、选取Penelope到Christina三行，Color到Height三列
print(df.loc['Penelope':'Christina','Color':'Height'])
# 3、选取Jane、Penelope、Cornelia三行，Age、State两列
print(df.loc[['Jane','Penelope','Cornelia'],['Age','State']])

          Color  Height
Penelope  White      80
           Color    Food  Height
Penelope   White   Apple      80
Dean        Gray  Cheese     180
Christina  Black   Melon     172
          Age State
Jane       30    NY
Penelope   40    AL
Cornelia   39    TX

In [37]:
df = pd.DataFrame(data = {'Age': [30, 20, 22, 40, 32, 28, 39], 
                   'Color': ['Blue', 'Green', 'Red', 'White', 'Gray', 'Black', 'Red'], 
                   'Food': ['Steak', 'Lamb', 'Mango', 'Apple', 'Cheese', 'Melon', 'Beans'], 
                   'Height': [165, 70, 120, 80, 180, 172, 150], 
                   'Score': [4.6, 8.3, 9.0, 3.3, 1.8, 9.5, 2.2], 
                   'State': ['NY', 'TX', 'FL', 'AL', 'AK', 'TX', 'TX']}, 
                  index = ['Jane', 'Nick', 'Aaron', 'Penelope', 'Dean', 'Christina', 'Cornelia'])

# 1、选取Penelope行，Color、Height两列
print(df.iloc[[3],[1,3]])
# 2、选取Penelope到Christina三行，Color到Height三列
print(df.iloc[-4:-1,1:4])
# 3、选取Jane、Penelope、Cornelia三行，Age、State两列
print(df.iloc[[0,3,-1],[0,-1]])

          Color  Height
Penelope  White      80
           Color    Food  Height
Penelope   White   Apple      80
Dean        Gray  Cheese     180
Christina  Black   Melon     172
          Age State
Jane       30    NY
Penelope   40    AL
Cornelia   39    TX

In [52]:

df = pd.DataFrame(data = {'Age': [30, 20, 22, 40, 32, 28, 39], 
                   'Color': ['Blue', 'Green', 'Red', 'White', 'Gray', 'Black', 'Red'], 
                   'Food': ['Steak', 'Lamb', 'Mango', 'Apple', 'Cheese', 'Melon', 'Beans'], 
                   'Height': [165, 70, 120, 80, 180, 172, 150], 
                   'Score': [4.6, 8.3, 9.0, 3.3, 1.8, 9.5, 2.2], 
                   'State': ['NY', 'TX', 'FL', 'AL', 'AK', 'TX', 'TX']}, 
                  index = ['Jane', 'Nick', 'Aaron', 'Penelope', 'Dean', 'Christina', 'Cornelia'])

display(df)

# 1、返回Age小于30的Age、Color、Height三列，采用loc
print(df[df['Age']<30].loc[:,['Age','Color','Height']])
# 2、返回Age小于30的Age、Color、Height三列，采用iloc
print(df[df['Age']<30].iloc[:,[0,1,3]])
# 3、返回Height在120到170之间，Score大于3的所有列，采用loc
print(df.loc[(df['Height']>=120)&(df['Height']<=170)&(df['Score']>3),:])
# 4、返回Height在120到170之间，Score大于3的所有列，采用iloc
print(df.iloc[((df['Height']>=120)&(df['Height']<=170)&(df['Score']>3)).values,:])

           Age  Color    Food  Height  Score State
Jane        30   Blue   Steak     165    4.6    NY
Nick        20  Green    Lamb      70    8.3    TX
Aaron       22    Red   Mango     120    9.0    FL
Penelope    40  White   Apple      80    3.3    AL
Dean        32   Gray  Cheese     180    1.8    AK
Christina   28  Black   Melon     172    9.5    TX
Cornelia    39    Red   Beans     150    2.2    TX

           Age  Color  Height
Nick        20  Green      70
Aaron       22    Red     120
Christina   28  Black     172
           Age  Color  Height
Nick        20  Green      70
Aaron       22    Red     120
Christina   28  Black     172
       Age Color   Food  Height  Score State
Jane    30  Blue  Steak     165    4.6    NY
Aaron   22   Red  Mango     120    9.0    FL
       Age Color   Food  Height  Score State
Jane    30  Blue  Steak     165    4.6    NY
Aaron   22   Red  Mango     120    9.0    FL

In [48]:
import pandas as pd

df = pd.DataFrame(data={'Age': [30, 20, 22, 40, 32, 28, 39],
                        'Color': ['Blue', 'Green', 'Red', 'White', 'Gray', 'Black', 'Red'],
                        'Food': ['Steak', 'Lamb', 'Mango', 'Apple', 'Cheese', 'Melon', 'Beans'],
                        'Height': [165, 70, 120, 80, 180, 172, 150],
                        'Score': [4.6, 8.3, 9.0, 3.3, 1.8, 9.5, 2.2],
                        'State': ['NY', 'TX', 'FL', 'AL', 'AK', 'TX', 'TX']},
                  index=['Jane', 'Nick', 'Aaron', 'Penelope', 'Dean', 'Christina', 'Cornelia'])

print("Original DataFrame:")
display(df)

# 返回Age小于30的Age、Color、Height三列，采用loc
result_loc_age_lt_30 = df.loc[df['Age'] < 30, ['Age', 'Color', 'Height']]
print("\nResult using loc for Age < 30:")
display(result_loc_age_lt_30)

# 返回Age小于30的Age、Color、Height三列，采用iloc
result_iloc_age_lt_30 = df.iloc[(df['Age'] < 30).values, [0, 1, 3]]
print("\nResult using iloc for Age < 30:")
display(result_iloc_age_lt_30)

# 返回Height在120到170之间，Score大于3的所有列，采用loc
result_loc_height_score = df.loc[(df['Height'] >= 120) & (df['Height'] <= 170) & (df['Score'] > 3)]
print("\nResult using loc for Height (120-170) and Score > 3:")
display(result_loc_height_score)

# 返回Height在120到170之间，Score大于3的所有列，采用iloc
result_iloc_height_score = df.iloc[((df['Height'] >= 120) & (df['Height'] <= 170) & (df['Score'] > 3)).values]
print("\nResult using iloc for Height (120-170) and Score > 3:")
display(result_iloc_height_score)

Original DataFrame:

           Age  Color    Food  Height  Score State
Jane        30   Blue   Steak     165    4.6    NY
Nick        20  Green    Lamb      70    8.3    TX
Aaron       22    Red   Mango     120    9.0    FL
Penelope    40  White   Apple      80    3.3    AL
Dean        32   Gray  Cheese     180    1.8    AK
Christina   28  Black   Melon     172    9.5    TX
Cornelia    39    Red   Beans     150    2.2    TX

Result using loc for Age < 30:

           Age  Color  Height
Nick        20  Green      70
Aaron       22    Red     120
Christina   28  Black     172

Result using iloc for Age < 30:

           Age  Color  Height
Nick        20  Green      70
Aaron       22    Red     120
Christina   28  Black     172

Result using loc for Height (120-170) and Score > 3:

       Age Color   Food  Height  Score State
Jane    30  Blue  Steak     165    4.6    NY
Aaron   22   Red  Mango     120    9.0    FL

Result using iloc for Height (120-170) and Score > 3:

       Age Color   Food  Height  Score State
Jane    30  Blue  Steak     165    4.6    NY
Aaron   22   Red  Mango     120    9.0    FL

In [55]:
import pandas as pd
import datetime

# 创建空的 DataFrame
df = pd.DataFrame(columns=['A', 'B', 'C'])

# 创建时间索引
start_date = datetime.datetime(2023, 1, 1)
end_date = datetime.datetime(2023, 1, 10)
date_range = pd.date_range(start=start_date, end=end_date, freq='D')

# 为 DataFrame 添加时间索引
df = df.reindex(date_range)

# 用 0 值填充
df = df.fillna(0)

print("DataFrame with DateTime Index and Filled with 0s:")
print(df)

DataFrame with DateTime Index and Filled with 0s:
            A  B  C
2023-01-01  0  0  0
2023-01-02  0  0  0
2023-01-03  0  0  0
2023-01-04  0  0  0
2023-01-05  0  0  0
2023-01-06  0  0  0
2023-01-07  0  0  0
2023-01-08  0  0  0
2023-01-09  0  0  0
2023-01-10  0  0  0

In [58]:
data = {'C':[0,1,2], 'A':[6,8,10], 'B':[3,-1,7]}
df = pd.DataFrame(data,index=['c','b','a'])
display(df)

# 1、改变列顺序从C A B到A B C
df = df.reindex(columns=['A', 'B', 'C'])
print(df)

   C   A  B
c  0   6  3
b  1   8 -1
a  2  10  7

    A  B  C
c   6  3  0
b   8 -1  1
a  10  7  2

In [59]:
data = {'C':[0,1,2], 'A':[6,8,10], 'B':[3,-1,7]}
df = pd.DataFrame(data,index=['c','b','a'])
display(df)

# 2、改变行顺序从c b a到a b c
df = df.reindex(['a','b','c'])
print(df)

   C   A  B
c  0   6  3
b  1   8 -1
a  2  10  7

   C   A  B
a  2  10  7
b  1   8 -1
c  0   6  3

In [61]:
df = pd.DataFrame(data = {'Age': [30, 20, 22, 40, 32, 28, 39], 
                   'Color': ['Blue', 'Green', 'Red', 'White', 'Gray', 'Black', 'Red'], 
                   'Food': ['Steak', 'Lamb', 'Mango', 'Apple', 'Cheese', 'Melon', 'Beans'], 
                   'Height': [165, 70, 120, 80, 180, 172, 150], 
                   'Score': [4.6, 8.3, 9.0, 3.3, 1.8, 9.5, 2.2], 
                   'State': ['NY', 'TX', 'FL', 'AL', 'AK', 'TX', 'TX']}, 
                  index = ['Jane', 'Nick', 'Aaron', 'Penelope', 'Dean', 'Christina', 'Cornelia'])

display(df)
display(df.dtypes)

# 1、将Height列数据从int64改为float64
df['Height'] = df['Height'].astype('float64')

# 2、将Score列数据从float64改为str
df['Score'] = df['Score'].astype('str')
print(df.dtypes)

           Age  Color    Food  Height  Score State
Jane        30   Blue   Steak     165    4.6    NY
Nick        20  Green    Lamb      70    8.3    TX
Aaron       22    Red   Mango     120    9.0    FL
Penelope    40  White   Apple      80    3.3    AL
Dean        32   Gray  Cheese     180    1.8    AK
Christina   28  Black   Melon     172    9.5    TX
Cornelia    39    Red   Beans     150    2.2    TX

Age         int64
Color      object
Food       object
Height      int64
Score     float64
State      object
dtype: object

Age         int64
Color      object
Food       object
Height    float64
Score      object
State      object
dtype: object

In [67]:

df1 = pd.DataFrame({'Age': [30, 20, 22, 40], 
                    'Height': [165, 70, 120, 80], 
                    'Score': [4.6, 8.3, 9.0, 3.3], 
                    'State': ['NY', 'TX', 'FL', 'AL']}, 
                   index=['Jane', 'Nick', 'Aaron', 'Penelope'])
 
df2 = pd.DataFrame({'Age': [32, 28, 39], 
                    'Color': ['Gray', 'Black', 'Red'],
                    'Food': ['Cheese', 'Melon', 'Beans'],
                    'Score': [1.8, 9.5, 2.2], 'State': ['AK', 'TX', 'TX']}, 
                   index=['Dean', 'Christina', 'Cornelia'])

# df1和df2合，按列排序
df3 = pd.concat([df1,df2])
print(df3)

           Age  Height  Score State  Color    Food
Jane        30   165.0    4.6    NY    NaN     NaN
Nick        20    70.0    8.3    TX    NaN     NaN
Aaron       22   120.0    9.0    FL    NaN     NaN
Penelope    40    80.0    3.3    AL    NaN     NaN
Dean        32     NaN    1.8    AK   Gray  Cheese
Christina   28     NaN    9.5    TX  Black   Melon
Cornelia    39     NaN    2.2    TX    Red   Beans

In [72]:
df = pd.DataFrame({
    'Country': ['China', 'China', 'India', 'India', 'America','Japan', 'China', 'India'], 
    'Income': [10000, 10000, 5000, 5002, 40000, 50000, 8000, 5000], 
    'Age': [50, 43, 34, 40, 25, 25, 45, 32]
})
display(df)

# 1、删除第3行
df.drop(2)
# 2、删除Income列
df.drop('Income',axis=1)
# 3、删除Age列，原DataFrame发生改变，提示inplace参数
df.drop('Age',axis=1,inplace=True)

print(df)

   Country  Income  Age
0    China   10000   50
1    China   10000   43
2    India    5000   34
3    India    5002   40
4  America   40000   25
5    Japan   50000   25
6    China    8000   45
7    India    5000   32

   Country  Income
0    China   10000
1    China   10000
2    India    5000
3    India    5002
4  America   40000
5    Japan   50000
6    China    8000
7    India    5000

In [82]:
df = pd.DataFrame([[10, 20, 30, 40], [7, 14, 21, 28], [5, 5, 0, 0]],
                  columns=['Apple', 'Orange', 'Banana', 'Pear'],
                  index=['Basket1', 'Basket2', 'Basket3'])
display(df)

# 1、按列统计均值
df.mean()
# 2、按行统计均值
df.mean(axis=1)
# 3、增加一列'Basket mean'，该列为行均值
df['Basket mean'] = df.mean(axis=1)
# 4、增加一行'Fruit mean'，该行为列均值
df.loc['Fruit mean'] = df.mean()

print(df.to_markdown())

         Apple  Orange  Banana  Pear
Basket1     10      20      30    40
Basket2      7      14      21    28
Basket3      5       5       0     0

|            |    Apple |   Orange |   Banana |    Pear |   Basket mean |
|:-----------|---------:|---------:|---------:|--------:|--------------:|
| Basket1    | 10       |       20 |       30 | 40      |          25   |
| Basket2    |  7       |       14 |       21 | 28      |          17.5 |
| Basket3    |  5       |        5 |        0 |  0      |           2.5 |
| Fruit mean |  7.33333 |       13 |       17 | 22.6667 |          15   |

In [84]:

df = pd.DataFrame([[10, 20, 30, 40], [7, 14, 21, 28], [5, 5, 0, 0]],
                  columns=['Apple', 'Orange', 'Banana', 'Pear'],
                  index=['Basket1', 'Basket2', 'Basket3'])
display(df)

# 1、按列统计总和
df.sum()
# 2、按行统计总和
df.sum(axis=1)
# 3、增加一列'Basket sum'，该列为行总和
df['Basket sum'] = df.sum(axis=1)
# 4、增加一行'Fruit sum'，该行为列总和
df.loc['Fruit sum'] = df.sum()

print(df)

         Apple  Orange  Banana  Pear
Basket1     10      20      30    40
Basket2      7      14      21    28
Basket3      5       5       0     0

           Apple  Orange  Banana  Pear  Basket sum
Basket1       10      20      30    40         100
Basket2        7      14      21    28          70
Basket3        5       5       0     0          10
Fruit sum     22      39      51    68         180

In [87]:
df = pd.DataFrame({'DateOfBirth': ['1986-11-11', '1999-05-12', '1976-01-01','1986-06-01', '1983-06-04', '1990-03-07', '1999-07-09'],
                   'State': ['NY', 'TX', 'FL', 'AL', 'AK', 'TX', 'TX']}, 
                  index=['Jane', 'Pane', 'Aaron', 'Penelope', 'Frane', 'Christina', 'Cornelia'])

# 1、对索引进行排序
print(df.sort_index())
# 2、按降序对索引值进行排序
print(df.sort_index(ascending=False))

          DateOfBirth State
Aaron      1976-01-01    FL
Christina  1990-03-07    TX
Cornelia   1999-07-09    TX
Frane      1983-06-04    AK
Jane       1986-11-11    NY
Pane       1999-05-12    TX
Penelope   1986-06-01    AL
          DateOfBirth State
Penelope   1986-06-01    AL
Pane       1999-05-12    TX
Jane       1986-11-11    NY
Frane      1983-06-04    AK
Cornelia   1999-07-09    TX
Christina  1990-03-07    TX
Aaron      1976-01-01    FL

In [88]:
# 编程

df = pd.DataFrame({'DateOfBirth': ['1986-11-11', '1999-05-12', '1976-01-01','1986-06-01', '1983-06-04', '1990-03-07', '1999-07-09'],
                   'State': ['NY', 'TX', 'FL', 'AL', 'AK', 'TX', 'TX']}, 
                  index=['Jane', 'Pane', 'Aaron', 'Penelope', 'Frane', 'Christina', 'Cornelia'])

# 按降序对列名进行排序
print(df[sorted(df.columns,reverse=True)])

          State DateOfBirth
Jane         NY  1986-11-11
Pane         TX  1999-05-12
Aaron        FL  1976-01-01
Penelope     AL  1986-06-01
Frane        AK  1983-06-04
Christina    TX  1990-03-07
Cornelia     TX  1999-07-09

In [91]:

df = pd.DataFrame({'DateOfBirth': ['1986-11-11', '1999-05-12', '1976-01-01','1986-06-01', '1983-06-04', '1990-03-07', '1999-07-09'],
                   'State': ['NY', 'TX', 'FL', 'AL', 'AK', 'TX', 'TX']}, 
                  index=['Jane', 'Pane', 'Aaron', 'Penelope', 'Frane', 'Christina', 'Cornelia'])

# 1、对state列的值进行排序
print(df.sort_values('State'))
# 2、对state、DateOfBirth两列的值进行降序排序，并改变原DataFrame
df.sort_values(['State','DateOfBirth'],inplace=True)
print(df)

          DateOfBirth State
Frane      1983-06-04    AK
Penelope   1986-06-01    AL
Aaron      1976-01-01    FL
Jane       1986-11-11    NY
Pane       1999-05-12    TX
Christina  1990-03-07    TX
Cornelia   1999-07-09    TX
          DateOfBirth State
Frane      1983-06-04    AK
Penelope   1986-06-01    AL
Aaron      1976-01-01    FL
Jane       1986-11-11    NY
Christina  1990-03-07    TX
Pane       1999-05-12    TX
Cornelia   1999-07-09    TX

In [103]:

data = {'fruit':['apple','banana','grape'],'price':[5,6,7]}
df = pd.DataFrame(data)
display(df)

# 1、编写函数将price中整数改为字串，例如5改为5元
df['price'] = df['price'].map(lambda x: str(x) + '元')
# 2、将fruit列中首字母大写
df['fruit'] = df['fruit'].map(lambda x: x.capitalize())

print(df)

    fruit  price
0   apple      5
1  banana      6
2   grape      7

    fruit price
0   Apple    5元
1  Banana    6元
2   Grape    7元

In [104]:
data = {'fruit':['apple','banana','grape'],'price':[5,6,7]}
df = pd.DataFrame(data)
display(df)

# 将price中数据从整数转为浮点数，采用map()
print(df['price'].map(lambda x:float(x)))

    fruit  price
0   apple      5
1  banana      6
2   grape      7

0    5.0
1    6.0
2    7.0
Name: price, dtype: float64

In [106]:

df = pd.DataFrame(np.random.rand(3,3), index=['a','b','c'], columns=['A','B','C'])
display(df)

# 将所有数据改为小数点后三位，采用applymap()
print(df.applymap(lambda x: format(x, '.3f')))

          A         B         C
a  0.027220  0.573798  0.573558
b  0.902736  0.330899  0.836692
c  0.145094  0.387702  0.231120

       A      B      C
a  0.027  0.574  0.574
b  0.903  0.331  0.837
c  0.145  0.388  0.231

C:\Users\27116\AppData\Local\Temp\ipykernel_48056\4165608361.py:5: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  print(df.applymap(lambda x: format(x, '.3f')))

In [110]:
# 编程

df = pd.read_excel('assets/豆瓣电影数据.xlsx') # read_excel方法进行读取excel文件 

# 1、显示前5行
print(df[:5].to_string())
# 2、显示后5行
print(df.tail(5).to_markdown())
# 3、随机选5行
print(df.sample(5).to_string())

       名字      投票人数        类型    产地                 上映时间   时长    年代   评分    首映地点
0  肖申克的救赎  692795.0     剧情/犯罪    美国  1994-09-10 00:00:00  142  1994  9.6  多伦多电影节
1    控方证人   42995.0  剧情/悬疑/犯罪    美国  1957-12-17 00:00:00  116  1957  9.5      美国
2   美丽人生   327855.0  剧情/喜剧/爱情   意大利  1997-12-20 00:00:00  116  1997  9.5     意大利
3    阿甘正传  580897.0     剧情/爱情    美国  1994-06-23 00:00:00  142  1994  9.4   洛杉矶首映
4    霸王别姬  478523.0  剧情/爱情/同性  中国大陆  1993-01-01 00:00:00  171  1993  9.4      香港
|       | 名字                                                                 |   投票人数 | 类型                     | 产地     | 上映时间            |   时长 |   年代 |   评分 | 首映地点   |
|------:|:---------------------------------------------------------------------|-----------:|:-------------------------|:---------|:--------------------|-------:|-------:|-------:|:-----------|
| 38733 | 神学院 S                                                             |         46 | Adult                    | 法国     | 1905-06-05 00:00:00 |     58 |   1983 |    8.6 | 美国       |
| 38734 | 1935年                                                               |         57 | 喜剧/歌舞                | 美国     | 1935-03-15 00:00:00 |     98 |   1935 |    7.6 | 美国       |
| 38735 | 血溅画屏                                                             |         95 | 剧情/悬疑/犯罪/武侠/古装 | 中国大陆 | 1905-06-08 00:00:00 |     91 |   1986 |    7.1 | 美国       |
| 38736 | 魔窟中的幻想                                                         |         51 | 惊悚/恐怖/儿童           | 中国大陆 | 1905-06-08 00:00:00 |     78 |   1986 |    8   | 美国       |
| 38737 | 列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский метроном. Опе |         32 | 剧情/战争                | 苏联     | 1905-05-30 00:00:00 |     97 |   1977 |    6.6 | 美国       |
              名字    投票人数     类型   产地                 上映时间   时长    年代   评分 首映地点
27642  我的女儿，我的天使   731.0     犯罪  加拿大  2007-02-16 00:00:00   86  2007  6.6   美国
36396        访问者    61.0     剧情   韩国  2006-11-15 00:00:00   92  2005  6.5   韩国
28572     午夜凶铃2(  2171.0  悬疑/恐怖   美国  2005-04-07 00:00:00  110  2005  6.0   美国
4484          誓约   390.0     爱情   其他  2008-02-29 00:00:00   60  2008  8.1   美国
3134       包芬格计划   523.0     喜剧   美国  1999-08-13 00:00:00   97  1999  7.6   美国

In [121]:

# 4、选取产地为泰国，'名字','类型'两列 loc()方法
df.loc[df['产地'] == '泰国', ['名字', '类型']]
# 5、选取评分大于9.5，'名字','类型','产地'三列 loc方法
df.loc[df.评分>9.5,['名字', '类型','产地']]
# 6、选取评分大于9且投票人数大于1000的数据 query方法
df.query('评分 > 9 and 投票人数 > 1000')
# 7、查看整个数据集的统计信息
print(df.describe())
# 8、查看整个数据基本信息
print(df.info())

                投票人数            评分
count   38738.000000  38738.000000
mean     6185.833702      6.935704
std     26143.518786      1.270101
min      -118.000000      2.000000
25%        98.000000      6.300000
50%       341.000000      7.100000
75%      1739.750000      7.800000
max    692795.000000      9.900000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38738 entries, 0 to 38737
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   名字      38178 non-null  object
 1   投票人数    38738 non-null  float64
 2   类型      38738 non-null  object
 3   产地      38738 non-null  object
 4   上映时间    38736 non-null  object
 5   时长      38738 non-null  object
 6   年代      38738 non-null  object
 7   评分      38738 non-null  float64
 8   首映地点    38737 non-null  object
dtypes: float64(2), object(7)
memory usage: 2.7+ MB
None