In [247]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

plt.rcParams['font.sans-serif'] = ['Arial Unicode MS'] # SimHei.ttf
plt.rcParams['axes.unicode_minus'] = False 

import warnings
warnings.filterwarnings('ignore')

In [248]:
df = pd.read_excel('assets/香港酒店数据.xlsx', index_col=0)
df.head()

,字段1,字段2,字段3,字段4,字段5,字段6,字段7,字段8
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.0,香港嘉湖海逸酒店(Harbour Plaza Resort City),休闲度假,香港,元朗,天水围 天恩路18号,4.6,17604.0,422.0
1.0,香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay),浪漫情侣,香港,东区,铜锣湾永兴街8号,4.5,12708.0,693.0
2.0,香港碧荟酒店(The BEACON),商务出行,香港,油尖旺,九龙旺角洗衣街88号,4.7,328.0,747.0
3.0,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,香港,湾仔,皇后大道东387-397号,4.4,5014.0,693.0

In [249]:
### 1. 按照数据的内容，重新设置数据的索引，重新设置列名称为'名字','类型','城市','地区','地点','评分','评分人数','价格'。

df.columns = ['名字','类型','城市','地区','地点','评分','评分人数','价格']
df.columns

Index(['名字', '类型', '城市', '地区', '地点', '评分', '评分人数', '价格'], dtype='object')

In [250]:
### 2. 查看所有类型为“商务出行”的酒店。

df.query('类型=="商务出行"')

,名字,类型,城市,地区,地点,评分,评分人数,价格
2.0,香港碧荟酒店(The BEACON),商务出行,香港,油尖旺,九龙旺角洗衣街88号,4.7,328.0,747.0
38.0,香港99号宝恒酒店(99 Bonham),商务出行,香港,中西区,上环文咸东街99号,4.5,297.0,1162.0
41.0,香港大都酒店(Dadol Hotel),商务出行,香港,油尖旺,九龙尖沙咀金巴利道16号香槟大厦1字楼 (美丽华商场对面),4.1,356.0,401.0
71.0,香港哲维斯酒店(The Jervois),商务出行,香港,中西区,苏杭街89号,4.6,27.0,3159.0
90.0,香港美利酒店(The Murray Hong Kong a Niccolo Hotel),商务出行,香港,中西区,红棉路22号,4.7,575.0,2710.0
148.0,香港六国酒店(Gloucester Luk Kwok Hong Kong),商务出行,香港,湾仔,湾仔告士打道七十二号,4.6,1408.0,1006.0
168.0,香港中环荷李活道彩鸿酒店(原晋逸好莱坞精品酒店)(Travelodge Central Ho...,商务出行,香港,中西区,香港中环荷李活道263号,4.4,840.0,468.0
198.0,香港湾仔睿景酒店(原湾仔维景酒店)(Kew Green Hotel Wanchai Hong...,商务出行,香港,湾仔,轩尼诗道41-49号,4.6,2493.0,766.0
226.0,香港盛捷维园公寓酒店(Somerset Victoria Park Hongkong),商务出行,香港,东区,铜锣湾电气道118号,4.5,1340.0,581.0
230.0,Y旅舍(Y Loft),商务出行,香港,东区,柴湾道238号青年广场12楼,4.5,1121.0,637.0
232.0,逸东轩住寓(香港湾仔峡道店)(Eaton Residences Wan Chai Gap R...,商务出行,香港,湾仔,湾仔峡道3-5号,4.4,240.0,871.0
257.0,香港宝轩酒店(中环)(The Bauhinia HotelCentral),商务出行,香港,中西区,干诺道中119-121号,4.5,513.0,513.0
267.0,香港湾仔八十八酒店(Wanchai 88 Hotel),商务出行,香港,湾仔,谭臣道139号,4.4,92.0,566.0
288.0,奥华·时尚精品酒店 - 中环(Ovolo Central – 2 Arbuthnot Road),商务出行,香港,中西区,中环亚毕诺道2号,4.6,67.0,NaN

In [251]:
### 3. 查看所有类型为“浪漫情侣”，地区在湾仔的酒店。

df.query('类型=="浪漫情侣" and 地区=="湾仔"')

,名字,类型,城市,地区,地点,评分,评分人数,价格
3.0,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,香港,湾仔,皇后大道东387-397号,4.4,5014.0,693.0
5.0,香港隆堡柏宁顿酒店(Hotel Pennington by Rhombus),浪漫情侣,香港,湾仔,铜锣湾边宁顿街13-15号,4.5,1938.0,869.0
23.0,香港南洋酒店(South Pacific Hotel),浪漫情侣,香港,湾仔,摩理臣山道23号,4.5,7981.0,445.0
35.0,香港遨舍卫兰轩(OZO Wesley Hong Kong),浪漫情侣,香港,湾仔,湾仔轩尼诗道22号,4.6,3283.0,871.0
67.0,香港星网商务精品酒店(Wifi Boutique Hotel),浪漫情侣,香港,湾仔,湾仔 骆克道366号,4.4,1527.0,412.0
72.0,香港丽骏酒店(Brighton Hotel Hong Kong),浪漫情侣,香港,湾仔,湾仔骆克道128号,4.5,2383.0,1152.0
123.0,香港逸兰精品酒店(Lanson Place Hotel),浪漫情侣,香港,湾仔,铜锣湾礼顿道133号,4.7,2053.0,1349.0
128.0,香港珀丽酒店(Rosedale Hotel Hong Kong),浪漫情侣,香港,湾仔,铜锣湾信德街8号,4.4,7342.0,457.0
133.0,英皇骏景酒店(香港湾仔店)(The Emperor Hotel),浪漫情侣,香港,湾仔,皇后大道东373号,4.5,1040.0,526.0
159.0,香港华丽铜锣湾酒店(原香港华丽精品酒店)(Best Western Hotel Causew...,浪漫情侣,香港,湾仔,铜锣湾坚拿道西祥和里,4.2,5707.0,309.0
160.0,香港铜锣湾智选假日酒店(Holiday Inn Express Hong Kong Caus...,浪漫情侣,香港,湾仔,铜锣湾 霎东街33号,4.5,4550.0,774.0
182.0,香港问月酒店(Mira Moon Hong Kong),浪漫情侣,香港,湾仔,谢斐道388号,4.5,1044.0,1282.0
183.0,帆船精品酒店(VELA BOUTIQUE HOTEL),浪漫情侣,香港,湾仔,摩理臣山道84-86号,4.2,2063.0,413.0
184.0,铜锣湾迷你精品酒店(Mini Hotel Causeway Bay),浪漫情侣,香港,湾仔,铜锣湾新会道8号,4.3,4882.0,368.0
217.0,香港君临海域酒店(Gloucester Hotel),浪漫情侣,香港,湾仔,铜锣湾告士打道218号,4.5,2324.0,957.0

In [252]:
### 4. 查看所有地址在观塘或者油尖旺，评分大于4的酒店。

df.query('评分>4 and (地区=="观塘" or 地区=="油尖旺")')

,名字,类型,城市,地区,地点,评分,评分人数,价格
2.0,香港碧荟酒店(The BEACON),商务出行,香港,油尖旺,九龙旺角洗衣街88号,4.7,328.0,747.0
4.0,如心艾朗酒店(L‘hotel elan),浪漫情侣,香港,观塘,观塘创业街38号,4.6,3427.0,581.0
6.0,海景嘉福洲际酒店(InterContinental Grand Stanford Hong ...,海滨风光,香港,油尖旺,尖沙咀東部麽地道70号,4.7,4366.0,1296.0
8.0,香港富豪九龙酒店(Regal Kowloon Hotel),休闲度假,香港,油尖旺,尖沙嘴麽地道71号,4.5,11265.0,692.0
10.0,香港广易商务宾馆(家庭旅馆)(WIDE EVER HOSTEL),地铁周边,香港,油尖旺,九龙旺角弥敦道607号新兴大厦14楼16单位,4.1,1029.0,218.0
...,...,...,...,...,...,...,...,...
363.0,香港珊瑚酒店(家庭旅馆)((Coral Inn)(Hostel)),地铁周边,香港,油尖旺,香港九龙尖沙咀弥敦道83-97号华源大厦9/F十楼D2室,4.4,149.0,379.0
372.0,香港意乐旅馆(eLog Inn),地铁周边,香港,油尖旺,佐敦道22号鸿运大厦4字楼H室,4.3,155.0,237.0
378.0,香港牛津尊贵旅舍(Oxford Premium Guest House),NaN,香港,油尖旺,尖沙咀弥敦道56-58号美丽都大厦16字楼A2室,4.7,15.0,NaN
379.0,香港恒好宾馆(Hang Ho Hostel),地铁周边,香港,油尖旺,九龙弥敦道242号立信大厦6字楼B室,4.5,142.0,445.0
395.0,香港御珑馆(家庭旅馆)(Hotel Conext),地铁周边,香港,油尖旺,九龙弥敦道240号立信大厦3楼B室,4.2,359.0,317.0

In [253]:
### 5. 查看类型缺失的数据。

df.loc[df['类型'].isnull()]

,名字,类型,城市,地区,地点,评分,评分人数,价格
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39.0,香港颐庭酒店(铜锣湾店)(Eco Tree Hotel Causeway Bay),NaN,香港,东区,铜锣湾水星街15号,4.6,15.0,567.0
187.0,工業家酒店(IND Hotel),NaN,香港,观塘,九龙观塘观塘道326号,4.2,6.0,448.0
200.0,香港永倫800酒店(WINLAND800HOTEL),NaN,香港,葵青,新界青衣路一号,3.4,3098.0,196.0
241.0,香港港湾酒店(Hong Kong Harbor Hotel),NaN,香港,南区,香港仔石排湾道47号,3.8,709.0,259.0
268.0,香港奥斯酒店(O‘ Hotel),NaN,香港,九龙城,香港九龙土瓜湾九龙城道42-46号,3.7,869.0,369.0
284.0,"巴黎旅馆(Paris Guest House (D2, 10/F))",NaN,香港,NaN,"Flat D2, 10/F, Block D, Chungking Mansion, 40 ...",2.0,5.0,67.0
300.0,香港海景渡假乐园(Hong Kong Seaview Holiday Resort),NaN,香港,离岛,大屿山梅窝东湾头路11号,2.9,5.0,881.0
301.0,香港海边小屋(The Cove Hostel),NaN,香港,离岛,"大屿山塘福村17D,1-2字楼",NaN,2.0,352.0
304.0,香港和平宾馆(HK Peace Guest House),NaN,香港,NaN,尖沙咀弥敦道58号美丽都大厦13楼A5室,NaN,NaN,201.0
306.0,香港文苑宾馆(Man Yuen Hotel),NaN,香港,油尖旺,旺角弥敦道737号金轮大厦二楼H室,4.7,5.0,169.0
315.0,墨尔本宾馆(Melbourne Hostel),NaN,香港,NaN,九龙尖沙咀弥敦道40号重庆大厦E座10字楼E1室,NaN,2.0,93.0
318.0,香港百丽旅馆(Park Guest House),NaN,香港,油尖旺,九龙尖沙咀海防道53至55号海防大厦1楼10号,NaN,6.0,445.0
321.0,香港尊贵旅馆(Hong Kong Premium Guest House),NaN,香港,油尖旺,"尖沙咀弥敦道56-58号美丽都大厦16字楼B2,A5室（前台入住办理设在16字楼A2室）",4.8,19.0,166.0
322.0,香港美华宾馆(Mei Wah Guest House),NaN,香港,NaN,九龙旺角弥敦道737号金轮大厦9字楼F座,4.0,27.0,250.0
323.0,香港威尼斯宾馆,NaN,香港,NaN,香港油尖旺区旺角弥顿道580号恒隆大厦4楼,4.7,48.0,298.0
327.0,80后潘多拉旅馆(香港佐敦店)(原华丰宾馆)(Pandora After 80s Jordan),NaN,香港,油尖旺,九龙佐敦佐敦道15号华丰大厦1字楼H室,3.1,36.0,70.0
335.0,香港Primo旅馆(Primo Guesthouse),NaN,香港,NaN,九龙尖沙咀弥敦道40号重庆大厦E座3字楼E3室,NaN,1.0,131.0
337.0,纳里旅馆(Narli Guest House),NaN,香港,油尖旺,尖沙咀弥敦道36-44号重庆大厦16字楼D座D8室,NaN,NaN,175.0
343.0,香港宿雾宾馆(Cebu Hotel),NaN,香港,NaN,弥敦道36-44号重庆大厦A座17字楼A6 & A7室,NaN,1.0,113.0
348.0,美丽宾馆(Lily Guest House),NaN,香港,NaN,九龙尖沙咀弥敦道40号重庆大厦E座8字楼E3室（于E座8楼E1室登记入住）,NaN,NaN,165.0
364.0,全球旅舍(Global Inn),NaN,香港,NaN,弥敦道36-44号重庆大厦C座6楼C2室 (登记前台於E座8楼E1室),NaN,2.0,165.0
371.0,珠峰宾馆(Everest Guest House (3/F)),NaN,香港,NaN,九龙尖沙咀弥敦道40号重庆大厦D座3字楼5-6室,NaN,1.0,181.0
378.0,香港牛津尊贵旅舍(Oxford Premium Guest House),NaN,香港,油尖旺,尖沙咀弥敦道56-58号美丽都大厦16字楼A2室,4.7,15.0,NaN
381.0,香港俄罗斯旅舍(Russian Hostel),NaN,香港,NaN,香港九龙弥敦道40号重庆大厦D座16楼1室,NaN,NaN,175.0
384.0,尊贵闲庭酒店(Premium Lounge),NaN,香港,NaN,"Flat A6 & A7, 16/F, Block A, Chungking Mansion...",NaN,1.0,166.0
399.0,香港新天天酒店(Everyday Inn Hotel),NaN,香港,油尖旺,佐敦庙街230-236号韶兴大厦5字楼B座,NaN,NaN,350.0
403.0,伍德斯托克旅馆(Woodstock Hostel),NaN,香港,NaN,"Flat A1-A6, 16/F, Block A, Chungking Mansions,...",NaN,NaN,172.0
404.0,旅客宾馆(Traveller‘s Hostel),NaN,香港,NaN,九龙尖沙咀弥敦道40号重庆大厦A座16字楼A1& A2室,NaN,NaN,269.0
405.0,欧若旅馆(Euro Hostel),NaN,香港,NaN,"Flat 6, Block D, 17/F, Chungking Mansion,",NaN,NaN,174.0
406.0,香港Prestige旅馆(Prestige Guesthouse),NaN,香港,NaN,弥敦道40号重庆大厦E座3字楼E1室,NaN,NaN,122.0
411.0,香港兰涛度假屋(Lantau Lodge),NaN,香港,荃湾,大屿山水口村47A号2楼,NaN,NaN,1035.0

In [254]:
### 6. 用“其他”填充类型和地区。

df['类型'].fillna('其他',inplace=True)
df['地区'].fillna('其他',inplace=True)

In [255]:
### 7. 用评分均值填充缺失值。

df['评分'].fillna(df['评分'].mean,inplace=True)

df.loc[df['评分'].isnull()]

Empty DataFrame
Columns: [名字, 类型, 城市, 地区, 地点, 评分, 评分人数, 价格]
Index: []

In [256]:
### 8. 删除价格和评分人数的缺失值。

df.dropna(subset=['价格', '评分人数'],inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 397 entries, 0.0 to 419.0
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   名字      397 non-null    object
 1   类型      397 non-null    object
 2   城市      397 non-null    object
 3   地区      397 non-null    object
 4   地点      397 non-null    object
 5   评分      397 non-null    object
 6   评分人数    397 non-null    float64
 7   价格      397 non-null    float64
dtypes: float64(2), object(6)
memory usage: 27.9+ KB

In [257]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 397 entries, 0.0 to 419.0
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   名字      397 non-null    object
 1   类型      397 non-null    object
 2   城市      397 non-null    object
 3   地区      397 non-null    object
 4   地点      397 non-null    object
 5   评分      397 non-null    object
 6   评分人数    397 non-null    float64
 7   价格      397 non-null    float64
dtypes: float64(2), object(6)
memory usage: 27.9+ KB

In [258]:
df['评分'] = pd.to_numeric(df['评分'], errors='coerce')

# 降序
df.sort_values(['评分'],ascending=False)
# 升序
df.sort_values(['评分'])

,名字,类型,城市,地区,地点,评分,评分人数,价格
402.0,香港中 港酒店(家庭旅馆)(HK-China Hotel),地铁周边,香港,油尖旺,碧街33-39号永华大厦1楼（油麻地地铁站A1出口直走50米）,1.5,7.0,429.0
284.0,"巴黎旅馆(Paris Guest House (D2, 10/F))",其他,香港,其他,"Flat D2, 10/F, Block D, Chungking Mansion, 40 ...",2.0,5.0,67.0
282.0,香港经济型酒店 (家庭旅馆)(Hong Kong Budget Hostel),地铁周边,香港,油尖旺,"弥敦道36-44号重庆大厦10字楼D,E座D8& E2室",2.0,29.0,67.0
370.0,香港港龙酒店(Comfort Lodge Hong Kong),地铁周边,香港,油尖旺,香港九龙佐敦德兴街7-8号（礼苑，接待处位于A座2楼）,2.2,18.0,492.0
362.0,香港京华宾馆(佐敦),地铁周边,香港,其他,九龙佐敦南京街19-21号3楼2/F,2.3,40.0,328.0
...,...,...,...,...,...,...,...,...
409.0,香港珠峰旅馆(Everest Inn Guest House),地铁周边,香港,其他,香港弥敦道40号重庆大厦D座16字楼3室(尖沙咀地铁站旁),NaN,7.0,175.0
410.0,深圳月亮月亮公寓,民宿,香港,罗湖区,深圳罗湖区渔民村,NaN,24.0,506.0
412.0,香港航天星际酒店(Hotel Skystar),地铁周边,香港,其他,尖沙咀弥敦道36-40号重庆大厦E座14楼E3室,NaN,3.0,172.0
413.0,香港HotelVenus(Hotel Venus),地铁周边,香港,油尖旺,尖沙咀弥敦道36-40号重庆大厦C座12楼C6室,NaN,2.0,172.0
414.0,香港金泉酒店,地铁周边,香港,其他,香港旺角弥敦道607号新兴大厦1407室,NaN,16.0,245.0

In [259]:
### 3. 对酒店按照价格进行排名，计算“油尖旺”地区的均价。
df.sort_values('价格',ascending=False).assign()

,名字,类型,城市,地区,地点,评分,评分人数,价格
117.0,香港四季酒店(Four Seasons Hotel Hong Kong),海滨风光,香港,中西区,中环 金融街8号,4.8,3461.0,12926.0
116.0,香港置地文华东方酒店(The Landmark Mandarin Oriental HK),休闲度假,香港,中西区,中环 皇后大道中15号置地广场,4.8,1285.0,4443.0
89.0,奕居(The Upper House),海滨风光,香港,中西区,金钟道88号太古广场,4.8,1369.0,4356.0
83.0,香港半岛酒店(The Peninsula Hong Kong),海滨风光,香港,油尖旺,尖沙咀梳士巴利道,4.8,3693.0,3862.0
19.0,香港文华东方酒店(Mandarin Oriental Hong Kong),海滨风光,香港,中西区,中环干诺道中5号,4.8,2452.0,3609.0
...,...,...,...,...,...,...,...,...
193.0,香港加尔文青年旅舍(HK HOSTEL),青年旅舍,香港,油尖旺,佐敦道13-15号华丰大厦7楼A室,4.2,1480.0,70.0
327.0,80后潘多拉旅馆(香港佐敦店)(原华丰宾馆)(Pandora After 80s Jordan),其他,香港,油尖旺,九龙佐敦佐敦道15号华丰大厦1字楼H室,3.1,36.0,70.0
375.0,香港日夜宾馆(Day and Night Hostel),地铁周边,香港,油尖旺,"弥敦道36-44号重庆大厦10字楼D,E座D8& E2室",3.3,63.0,68.0
284.0,"巴黎旅馆(Paris Guest House (D2, 10/F))",其他,香港,其他,"Flat D2, 10/F, Block D, Chungking Mansion, 40 ...",2.0,5.0,67.0
282.0,香港经济型酒店 (家庭旅馆)(Hong Kong Budget Hostel),地铁周边,香港,油尖旺,"弥敦道36-44号重庆大厦10字楼D,E座D8& E2室",2.0,29.0,67.0

In [260]:
# 对酒店按价格进行降序排列
sorted_df = df.sort_values('价格', ascending=False)

# 计算“油尖旺”地区的均价
yau_tsim_mong_avg_price = sorted_df[sorted_df['地区'] == '油尖旺']['价格'].mean()

# 使用 assign() 方法添加排名列
sorted_df = sorted_df.assign(排名=sorted_df['价格'].rank(ascending=False))

print("油尖旺地区的均价为:", yau_tsim_mong_avg_price)
sorted_df

油尖旺地区的均价为: 544.3621621621621

,名字,类型,城市,地区,地点,评分,评分人数,价格,排名
117.0,香港四季酒店(Four Seasons Hotel Hong Kong),海滨风光,香港,中西区,中环 金融街8号,4.8,3461.0,12926.0,1.0
116.0,香港置地文华东方酒店(The Landmark Mandarin Oriental HK),休闲度假,香港,中西区,中环 皇后大道中15号置地广场,4.8,1285.0,4443.0,2.0
89.0,奕居(The Upper House),海滨风光,香港,中西区,金钟道88号太古广场,4.8,1369.0,4356.0,3.0
83.0,香港半岛酒店(The Peninsula Hong Kong),海滨风光,香港,油尖旺,尖沙咀梳士巴利道,4.8,3693.0,3862.0,4.0
19.0,香港文华东方酒店(Mandarin Oriental Hong Kong),海滨风光,香港,中西区,中环干诺道中5号,4.8,2452.0,3609.0,5.0
...,...,...,...,...,...,...,...,...,...
193.0,香港加尔文青年旅舍(HK HOSTEL),青年旅舍,香港,油尖旺,佐敦道13-15号华丰大厦7楼A室,4.2,1480.0,70.0,393.5
327.0,80后潘多拉旅馆(香港佐敦店)(原华丰宾馆)(Pandora After 80s Jordan),其他,香港,油尖旺,九龙佐敦佐敦道15号华丰大厦1字楼H室,3.1,36.0,70.0,393.5
375.0,香港日夜宾馆(Day and Night Hostel),地铁周边,香港,油尖旺,"弥敦道36-44号重庆大厦10字楼D,E座D8& E2室",3.3,63.0,68.0,395.0
284.0,"巴黎旅馆(Paris Guest House (D2, 10/F))",其他,香港,其他,"Flat D2, 10/F, Block D, Chungking Mansion, 40 ...",2.0,5.0,67.0,396.5
282.0,香港经济型酒店 (家庭旅馆)(Hong Kong Budget Hostel),地铁周边,香港,油尖旺,"弥敦道36-44号重庆大厦10字楼D,E座D8& E2室",2.0,29.0,67.0,396.5

In [261]:
### 4. 对酒店数据进行描述性统计，并求所有价格的均值方差，最大最小值，中值。

df['价格'].describe()

count      397.000000
mean       681.659950
std        906.282671
min         67.000000
25%        247.000000
50%        418.000000
75%        766.000000
max      12926.000000
Name: 价格, dtype: float64

In [262]:
### 5. 计算评分和价格之间的的相关系数，协方差。

# 计算评分和价格之间的相关系数
correlation = df['评分'].corr(df['价格'])

# 计算评分和价格之间的协方差
covariance = df['评分'].cov(df['价格'])

print("评分和价格之间的相关系数:", correlation)
print("评分和价格之间的协方差:", covariance)

评分和价格之间的相关系数: 0.2911706378402462
评分和价格之间的协方差: 137.05597948948272

In [263]:
### 6. 按照评分降序排序，评分相同时按价格升序排序。

df.sort_values(['评分','价格'],ascending=[False,True])

,名字,类型,城市,地区,地点,评分,评分人数,价格
211.0,香港李女士宾馆(家庭旅馆)(MS LI GUEST HOUSE),地铁周边,香港,油尖旺,弥敦道58号美丽都大厦E座5字楼E1室,4.9,7.0,351.0
338.0,香港新金冠宾馆(New Golden Crown Guest House),客栈,香港,油尖旺,尖沙咀弥敦道68号金冠大厦13楼C室,4.9,10.0,395.0
321.0,香港尊贵旅馆(Hong Kong Premium Guest House),其他,香港,油尖旺,"尖沙咀弥敦道56-58号美丽都大厦16字楼B2,A5室（前台入住办理设在16字楼A2室）",4.8,19.0,166.0
199.0,香港鸣人宾馆(Naruto Inn),地铁周边,香港,油尖旺,尖沙咀弥敦道83-97号华源大厦10F B4室,4.8,921.0,190.0
75.0,香港和平客栈(HK Peaceful Guesthouse),民宿,香港,其他,尖沙咀弥敦道58号美丽都大厦13楼B1室于13楼C2室登记入住,4.8,511.0,264.0
...,...,...,...,...,...,...,...,...
318.0,香港百丽旅馆(Park Guest House),其他,香港,油尖旺,九龙尖沙咀海防道53至55号海防大厦1楼10号,NaN,6.0,445.0
346.0,香港Come Inn宾馆(Come Inn),地铁周边,香港,油尖旺,尖沙咀金巴利道27-33号永利大厦9楼F座,NaN,2.0,500.0
410.0,深圳月亮月亮公寓,民宿,香港,罗湖区,深圳罗湖区渔民村,NaN,24.0,506.0
290.0,香港中港酒店(China HK Hotel),客栈,香港,东区,北角七姊妹道25-31号一楼,NaN,1.0,553.0
401.0,香港加勒比海宾馆(家庭旅馆)(Caribbean Sea Guest House),地铁周边,香港,油尖旺,弥敦道36号-44号重庆大厦C座5楼C1室,NaN,5.0,1520.0

In [264]:
### 7. 计算评分小于3分的酒店数量和占比。

cnt = df.loc[df['评分']<3]['评分'].count()

occu =  cnt / df['评分'].count()

print(f'评分小于3分的酒店数量为{cnt}，占比为{occu:.3f}')

评分小于3分的酒店数量为12，占比为0.033

In [265]:
### 8. 计算酒店评分大于等于4分的酒店的价格均值。

print(f"酒店评分大于等于4分的酒店的价格均值:{df.loc[df['评分'] >= 4]['价格'].mean():.2f}")

酒店评分大于等于4分的酒店的价格均值:786.95

In [266]:
### 9. 计算出每个地区的酒店占总酒店数量的比例。

df.groupby('地区').size() / len(df)

地区
东区      0.040302
中西区     0.083123
九龙城     0.052897
元朗      0.005038
其他      0.141058
南区      0.012594
屯门      0.005038
沙田      0.010076
油尖旺     0.465995
深水埗区    0.002519
湾仔      0.103275
离岛      0.027708
罗湖区     0.002519
荃湾      0.017632
葵青      0.012594
观塘      0.017632
dtype: float64

In [267]:
### 10. 找出酒店评分人数排名前20的酒店，并计算他们的价格均值。

df.sort_values('评分人数',ascending=False).loc[:20,'价格'].mean

<bound method Series.mean of 418.0     709.0
417.0     709.0
82.0     1115.0
91.0      569.0
0.0       422.0
108.0    1265.0
105.0    1667.0
86.0      759.0
12.0      562.0
81.0     1760.0
18.0      358.0
1.0       693.0
138.0    1278.0
127.0    1052.0
8.0       692.0
14.0     1899.0
95.0     1988.0
92.0      968.0
111.0    3068.0
120.0     678.0
13.0      447.0
118.0     548.0
94.0     1348.0
30.0     1525.0
125.0     517.0
27.0      748.0
97.0     1612.0
24.0      594.0
88.0     1936.0
129.0     308.0
20.0      692.0
Name: 价格, dtype: float64>

In [268]:
top_20_hotels = df.sort_values('评分人数', ascending=False).head(20)
average_price_top_20 = top_20_hotels['价格'].mean()


print("评分人数排名前20的酒店的价格均值为:", average_price_top_20)

评分人数排名前20的酒店的价格均值为: 1110.55

In [269]:
### 11. 查看酒店分布的类型数量和地区数量，并统计各个类型和地区包含的酒店数量。

print(f"酒店分布的类型数量:{len(df['类型'].unique())}")
print(f"酒店分布的地区数量:{len(df['地区'].unique())}")

type_area_df = df.groupby(['类型','地区']).agg(
    {
        '名字':'count'
    }
).unstack()

# 统计每一行的和
row_sums = type_area_df.sum(axis=1)

# 统计每一列的和
col_sums = type_area_df.sum(axis=0)

print(f"每一行的和:\n{row_sums}\n")
print(f"\n每一列的和:\n{col_sums}")

酒店分布的类型数量:18
酒店分布的地区数量:16
每一行的和:
类型
交通方便       1.0
亲子酒店       5.0
休闲度假      31.0
其他        20.0
印象好        1.0
商务出行      13.0
地铁周边     172.0
大学周边       1.0
客栈         3.0
干净卫生       1.0
民宿         6.0
浪漫情侣      68.0
海滨风光      61.0
火车站周边      1.0
环境不错       3.0
老板热情       1.0
酒店公寓       5.0
青年旅舍       4.0
dtype: float64


每一列的和:
    地区
名字  东区       16.0
    中西区      33.0
    九龙城      21.0
    元朗        2.0
    其他       56.0
    南区        5.0
    屯门        2.0
    沙田        4.0
    油尖旺     185.0
    深水埗区      1.0
    湾仔       41.0
    离岛       11.0
    罗湖区       1.0
    荃湾        7.0
    葵青        5.0
    观塘        7.0
dtype: float64

In [270]:
### 12. 用数据透视表，计算每个类型的酒店的评分人数总数量。

pivot_table = pd.pivot_table(df, index='类型', values='评分人数', aggfunc='sum')

pivot_table

           评分人数
类型
交通方便      152.0
亲子酒店    11492.0
休闲度假   237261.0
其他       4858.0
印象好        68.0
商务出行     9630.0
地铁周边    91323.0
大学周边       23.0
客栈        229.0
干净卫生      146.0
民宿       2493.0
浪漫情侣   238436.0
海滨风光   394600.0
火车站周边     578.0
环境不错     1327.0
老板热情       48.0
酒店公寓     1967.0
青年旅舍     2605.0

In [271]:
### 13. 用数据透视表，计算每个类型的酒店价格的均值和标准差。
pd.pivot_table(df, index='类型', values='价格', aggfunc=['mean','std'])

              mean          std
                价格           价格
类型
交通方便    421.000000          NaN
亲子酒店    745.400000   546.616227
休闲度假   1127.774194   827.492707
其他      269.300000   199.264727
印象好     297.000000          NaN
商务出行   1045.153846   870.595663
地铁周边    374.139535   377.604830
大学周边    325.000000          NaN
客栈      397.666667   154.017315
干净卫生    185.000000          NaN
民宿      258.500000   127.000394
浪漫情侣    608.573529   303.356119
海滨风光   1543.573770  1746.828349
火车站周边   968.000000          NaN
环境不错    357.666667   161.283394
老板热情    385.000000          NaN
酒店公寓   1182.000000   697.624899
青年旅舍    189.250000   116.851401

In [272]:
### 14. 用数据透视表，计算每个地区酒店价格和评分的最大值和最小值。

pd.pivot_table(df, index='地区', values=['价格','评分'], aggfunc=['max','min'])

          max         min
           价格   评分     价格   评分
地区
东区     1908.0  4.7  331.0  4.2
中西区   12926.0  4.8  254.0  3.8
九龙城    1742.0  4.8  137.0  3.7
元朗      425.0  4.6  422.0  4.5
其他     1450.0  4.8   67.0  2.0
南区      553.0  4.4  185.0  3.8
屯门      696.0  4.7  582.0  4.5
沙田     1052.0  4.7  569.0  4.4
油尖旺    3862.0  4.9   67.0  1.5
深水埗区    648.0  4.3  648.0  4.3
湾仔     2856.0  4.7  131.0  3.4
离岛     1667.0  4.8  352.0  2.9
罗湖区     506.0  NaN  506.0  NaN
荃湾      709.0  4.5  225.0  4.3
葵青      423.0  4.4  196.0  3.4
观塘     1132.0  4.6  448.0  4.2

In [273]:
### 15. 用数据透视表，计算每个地区和类型的酒店的评分的均值和标准差。

pd.pivot_table(df, index=['地区','类型'], values=['评分'], aggfunc=['mean','std'])

            mean       std
              评分        评分
地区  类型
东区  其他    4.6000       NaN
    商务出行  4.5000  0.000000
    浪漫情侣  4.4250  0.150000
    海滨风光  4.5125  0.155265
中西区 亲子酒店  4.6000       NaN
...          ...       ...
葵青  浪漫情侣  4.2000  0.230940
观塘  休闲度假  4.6000  0.000000
    其他    4.2000       NaN
    浪漫情侣  4.5500  0.070711
    海滨风光  4.5000  0.141421

[71 rows x 2 columns]

In [274]:
### 16. 将“类型”和“名字”设置为层次化索引，并交换索引的位置。然后将层次化索引取消。

# 将“类型”和“名字”设置为层次化索引，并交换索引的位置
# df.set_index(['类型', '名字'], inplace=True)
# df = df.swaplevel('类型', '名字')
# 
# df.reset_index(inplace=True)
# 
# df

In [275]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 397 entries, 0.0 to 419.0
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   名字      397 non-null    object
 1   类型      397 non-null    object
 2   城市      397 non-null    object
 3   地区      397 non-null    object
 4   地点      397 non-null    object
 5   评分      366 non-null    float64
 6   评分人数    397 non-null    float64
 7   价格      397 non-null    float64
dtypes: float64(3), object(5)
memory usage: 27.9+ KB

In [276]:
### 17. 将数据集转置，获取转置后的index和columns。
T_df = df.T
print(f'转置后的index:{T_df.index}')
print(f'转置后的columns:{T_df.columns}')

转置后的index:Index(['名字', '类型', '城市', '地区', '地点', '评分', '评分人数', '价格'], dtype='object')
转置后的columns:Index([  0.0,   1.0,   2.0,   3.0,   4.0,   5.0,   6.0,   7.0,   8.0,   9.0,
       ...
       408.0, 409.0, 410.0, 412.0, 413.0, 414.0, 415.0, 417.0, 418.0, 419.0],
      dtype='float64', length=397)

In [277]:
### 18. 用Groupby方法来计算每个地区的评分人数的总和以及均值。

df.groupby('地区').agg(
    {
        '评分人数':['sum','mean']
    }
)

          评分人数
           sum          mean
地区
东区     56643.0   3540.187500
中西区    59682.0   1808.545455
九龙城    49855.0   2374.047619
元朗     18804.0   9402.000000
其他     16831.0    300.553571
南区     12867.0   2573.400000
屯门      7324.0   3662.000000
沙田     39622.0   9905.500000
油尖旺   422574.0   2284.183784
深水埗区      16.0     16.000000
湾仔    107344.0   2618.146341
离岛     60359.0   5487.181818
罗湖区       24.0     24.000000
荃湾    114610.0  16372.857143
葵青     11544.0   2308.800000
观塘     19137.0   2733.857143

In [278]:
### 19. 用Grouby方法计算每个类型的平均价格，最高价和最低价。

df.groupby('类型').agg(
    {
        '价格':['mean','max','min']
    }
)

                价格
              mean      max    min
类型
交通方便    421.000000    421.0  421.0
亲子酒店    745.400000   1686.0  269.0
休闲度假   1127.774194   4443.0  358.0
其他      269.300000    881.0   67.0
印象好     297.000000    297.0  297.0
商务出行   1045.153846   3159.0  401.0
地铁周边    374.139535   2640.0   67.0
大学周边    325.000000    325.0  325.0
客栈      397.666667    553.0  245.0
干净卫生    185.000000    185.0  185.0
民宿      258.500000    506.0  157.0
浪漫情侣    608.573529   1908.0  225.0
海滨风光   1543.573770  12926.0  331.0
火车站周边   968.000000    968.0  968.0
环境不错    357.666667    484.0  176.0
老板热情    385.000000    385.0  385.0
酒店公寓   1182.000000   2309.0  588.0
青年旅舍    189.250000    348.0   70.0

In [279]:
### 20. 数据离散化，按照价格将酒店分为3个等级，0-500为C，500-1000为B，大于1000为A，列名设置为“价格等级”。

bins = [0, 500, 1000, float('inf')]  # 设置价格区间
labels = ['C', 'B', 'A']  # 设置价格等级标签

df['价格等级'] = pd.cut(df['价格'], bins=bins, labels=labels)

df

,名字,类型,城市,地区,地点,评分,评分人数,价格,价格等级
0.0,香港嘉湖海逸酒店(Harbour Plaza Resort City),休闲度假,香港,元朗,天水围 天恩路18号,4.6,17604.0,422.0,C
1.0,香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay),浪漫情侣,香港,东区,铜锣湾永兴街8号,4.5,12708.0,693.0,B
2.0,香港碧荟酒店(The BEACON),商务出行,香港,油尖旺,九龙旺角洗衣街88号,4.7,328.0,747.0,B
3.0,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,香港,湾仔,皇后大道东387-397号,4.4,5014.0,693.0,B
4.0,如心艾朗酒店(L‘hotel elan),浪漫情侣,香港,观塘,观塘创业街38号,4.6,3427.0,581.0,B
...,...,...,...,...,...,...,...,...,...
414.0,香港金泉酒店,地铁周边,香港,其他,香港旺角弥敦道607号新兴大厦1407室,NaN,16.0,245.0,C
415.0,香港天天宾馆(TIN TIN GUEST HOUSE),地铁周边,香港,油尖旺,旺角弥敦道607号新兴大厦1517A,3.2,16.0,227.0,C
417.0,香港如心海景酒店暨会议中心(L‘hotel Nina et Convention Centre),海滨风光,香港,荃湾,荃湾 杨屋道8号,4.5,45462.0,709.0,B
418.0,香港如心海景酒店暨会议中心(L‘hotel Nina et Convention Centre),海滨风光,香港,荃湾,荃湾 杨屋道8号,4.5,45463.0,709.0,B
419.0,香港花盈酒店(家庭旅馆)(Bloomy Hotel),地铁周边,香港,油尖旺,尖沙咀弥敦道87号华源大厦9字楼C2室,4.0,273.0,256.0,C

In [290]:
### 21. 获取评分均值最高和最低的地区的数据，分别使用append和concat方法将获取的两个数据集合并。

df.groupby('地区').agg(
    {
        '评分':'mean'
    }
).sort_values('评分')

            评分
地区
葵青    4.040000
其他    4.141026
油尖旺   4.189080
南区    4.220000
深水埗区  4.300000
湾仔    4.375610
离岛    4.380000
九龙城   4.428571
荃湾    4.442857
东区    4.493333
观塘    4.500000
中西区   4.548485
元朗    4.550000
沙田    4.575000
屯门    4.600000
罗湖区        NaN

In [297]:
# 获取评分均值最高和最低的地区
mean_scores = df.groupby('地区')['评分'].mean()

highest_mean = mean_scores.idxmax()  # 获取评分均值最高的地区
lowest_mean = mean_scores.idxmin()   # 获取评分均值最低的地区

# # 根据最高和最低评分地区筛选数据
highest_data = df[df['地区'] == highest_mean]
lowest_data = df[df['地区'] == lowest_mean]
# 
# # 使用 append() 方法合并数据集
merged_data_append = highest_data._append(lowest_data)
# 
# # 使用 concat() 方法合并数据集
merged_data_concat = pd.concat([highest_data, lowest_data])

|     | 名字                                              | 类型     | 城市   | 地区   | 地点                     |   评分 |   评分人数 |   价格 | 价格等级   |
|----:|:--------------------------------------------------|:---------|:-------|:-------|:-------------------------|-------:|-----------:|-------:|:-----------|
|  25 | 香港黄金海岸酒店(Hong Kong Gold Coast Hotel)      | 海滨风光 | 香港   | 屯门   | 屯门 黄金海岸青山公路1号 |    4.7 |       6326 |    696 | B          |
| 169 | 香港屯门贝尔特酒店(pentahotel Hong Kong Tuen Mun) | 浪漫情侣 | 香港   | 屯门   | 新界屯门震寰路六号       |    4.5 |        998 |    582 | B          |
|  43 | 香港荃湾旭逸酒店(Hotel Ease Tsuen Wan)            | 浪漫情侣 | 香港   | 葵青   | 葵涌圳边街15-19号        |    4.4 |        598 |    394 | C          |
| 200 | 香港永倫800酒店(WINLAND800HOTEL)                  | 其他     | 香港   | 葵青   | 新界青衣路一号           |    3.4 |       3098 |    196 | C          |
| 201 | 香港青逸酒店(Rambler Oasis Hotel)                 | 浪漫情侣 | 香港   | 葵青   | 青衣路1号                |    4   |       3091 |    349 | C          |
| 214 | 香港华逸酒店(Rambler Garden Hotel)                | 浪漫情侣 | 香港   | 葵青   | 青衣 青衣路1号           |    4   |       3031 |    349 | C          |
| 216 | 香港文化旅馆-翠雅山房(Hong Kong Heritage Lodge)   | 浪漫情侣 | 香港   | 葵青   | 香港九龙青山道800号      |    4.4 |       1726 |    423 | C          |

                                             名字    类型  城市  地区             地点  \
25.0       香港黄金海岸酒店(Hong Kong Gold Coast Hotel)  海滨风光  香港  屯门  屯门 黄金海岸青山公路1号
169.0  香港屯门贝尔特酒店(pentahotel Hong Kong Tuen Mun)  浪漫情侣  香港  屯门      新界屯门震寰路六号
43.0             香港荃湾旭逸酒店(Hotel Ease Tsuen Wan)  浪漫情侣  香港  葵青    葵涌圳边街15-19号
200.0                香港永倫800酒店(WINLAND800HOTEL)    其他  香港  葵青        新界青衣路一号
201.0               香港青逸酒店(Rambler Oasis Hotel)  浪漫情侣  香港  葵青          青衣路1号
214.0              香港华逸酒店(Rambler Garden Hotel)  浪漫情侣  香港  葵青       青衣 青衣路1号
216.0     香港文化旅馆-翠雅山房(Hong Kong Heritage Lodge)  浪漫情侣  香港  葵青    香港九龙青山道800号

        评分    评分人数     价格 价格等级
25.0   4.7  6326.0  696.0    B
169.0  4.5   998.0  582.0    B
43.0   4.4   598.0  394.0    C
200.0  3.4  3098.0  196.0    C
201.0  4.0  3091.0  349.0    C
214.0  4.0  3031.0  349.0    C
216.0  4.4  1726.0  423.0    C

In [308]:

# 按照评分人数从多到少排序
df_sorted = df.sort_values(by='评分人数', ascending=False)

# 计算每个等级的酒店数量
num_hotels = len(df_sorted)
num_per_group = num_hotels // 3  # 每个等级的酒店数量

# 分组并分配热门等级
hotels_rank = []
for i in range(num_hotels):
    if i < num_per_group:
        hotels_rank.append('A')
    elif i < num_per_group * 2:
        hotels_rank.append('B')
    else:
        hotels_rank.append('C')

# 将热门等级添加到 DataFrame 中
df_sorted['热门等级'] = hotels_rank

# 将排序后的 DataFrame 存储到新的 DataFrame 中
df_with_rank = df_sorted[['名字', '评分人数', '热门等级']]

print(df_with_rank)

                                                     名字     评分人数 热门等级
418.0  香港如心海景酒店暨会议中心(L‘hotel Nina et Convention Centre)  45463.0    A
417.0  香港如心海景酒店暨会议中心(L‘hotel Nina et Convention Centre)  45462.0    A
82.0      香港皇家太平洋酒店(The Royal Pacific Hotel and Towers)  20974.0    A
91.0                      香港丽豪酒店(Regal Riverside Hotel)  18514.0    A
0.0                 香港嘉湖海逸酒店(Harbour Plaza Resort City)  17604.0    A
...                                                 ...      ...  ...
390.0                              香港壹家旅馆(A INN Hostel)      1.0    C
384.0                            尊贵闲庭酒店(Premium Lounge)      1.0    C
371.0                   珠峰宾馆(Everest Guest House (3/F))      1.0    C
335.0                       香港Primo旅馆(Primo Guesthouse)      1.0    C
290.0                            香港中港酒店(China HK Hotel)      1.0    C

[397 rows x 3 columns]

In [313]:
### 23. 选出评分人数为A，价格也为A的酒店数据，计算其平均评分。

df[(df['热门等级'] == 'A' ) & (df['价格等级'] == 'A')]['评分'].mean()

nan

In [283]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 397 entries, 0.0 to 419.0
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   名字      397 non-null    object
 1   类型      397 non-null    object
 2   城市      397 non-null    object
 3   地区      397 non-null    object
 4   地点      397 non-null    object
 5   评分      366 non-null    float64
 6   评分人数    397 non-null    float64
 7   价格      397 non-null    float64
 8   价格等级    397 non-null    category
dtypes: category(1), float64(3), object(5)
memory usage: 28.4+ KB

In [317]:
### 24. 取价格最高的5个酒店的数据，使用stack和unstack方法实现dataframe和Series之间的转换。

df.sort_values('价格', ascending=False).head(5).stack()
df.sort_values('价格', ascending=False).head(5).unstack()

117.0  名字               香港四季酒店(Four Seasons Hotel Hong Kong)
       类型                                               海滨风光
       城市                                                 香港
       地区                                                中西区
       地点                                           中环 金融街8号
       评分                                                4.8
       评分人数                                           3461.0
       价格                                            12926.0
       价格等级                                                A
       热门等级                                                C
116.0  名字      香港置地文华东方酒店(The Landmark Mandarin Oriental HK)
       类型                                               休闲度假
       城市                                                 香港
       地区                                                中西区
       地点                                    中环 皇后大道中15号置地广场
       评分                                                4.8
       评分人数                                           1285.0
       价格                                             4443.0
       价格等级                                                A
       热门等级                                                C
89.0   名字                                奕居(The Upper House)
       类型                                               海滨风光
       城市                                                 香港
       地区                                                中西区
       地点                                         金钟道88号太古广场
       评分                                                4.8
       评分人数                                           1369.0
       价格                                             4356.0
       价格等级                                                A
       热门等级                                                C
83.0   名字                    香港半岛酒店(The Peninsula Hong Kong)
       类型                                               海滨风光
       城市                                                 香港
       地区                                                油尖旺
       地点                                           尖沙咀梳士巴利道
       评分                                                4.8
       评分人数                                           3693.0
       价格                                             3862.0
       价格等级                                                A
       热门等级                                                C
19.0   名字              香港文华东方酒店(Mandarin Oriental Hong Kong)
       类型                                               海滨风光
       城市                                                 香港
       地区                                                中西区
       地点                                           中环干诺道中5号
       评分                                                4.8
       评分人数                                           2452.0
       价格                                             3609.0
       价格等级                                                A
       热门等级                                                C
dtype: object

In [328]:
### 25. 纵向拆分数据集，分为df1和df2，df1包含名字，类型，城市，地区，df2包含名字，地点，评分，评分人数，价格，价格等级，热门等级。

df1 = df.loc[:,['名字','类型','城市','地区']]
df2 = df.loc[:,['名字','地点','评分','评分人数','价格','价格等级','热门等级']]

In [332]:
### 26. 将df2按照价格进行排序，重新设置df2的索引。索引值等于价格排名。


# 按照价格列进行升序排序
df2.sort_values('价格',ascending=False,inplace=True)

# # 重新设置索引为价格排名
df2 = df2.reset_index(drop=True)
# 
# # 索引值等于价格排名
df2.index = df2.index + 1

df2

,名字,地点,评分,评分人数,价格,价格等级,热门等级
1,香港四季酒店(Four Seasons Hotel Hong Kong),中环 金融街8号,4.8,3461.0,12926.0,A,C
2,香港置地文华东方酒店(The Landmark Mandarin Oriental HK),中环 皇后大道中15号置地广场,4.8,1285.0,4443.0,A,C
3,奕居(The Upper House),金钟道88号太古广场,4.8,1369.0,4356.0,A,C
4,香港半岛酒店(The Peninsula Hong Kong),尖沙咀梳士巴利道,4.8,3693.0,3862.0,A,C
5,香港文华东方酒店(Mandarin Oriental Hong Kong),中环干诺道中5号,4.8,2452.0,3609.0,A,C
...,...,...,...,...,...,...,...
393,香港加尔文青年旅舍(HK HOSTEL),佐敦道13-15号华丰大厦7楼A室,4.2,1480.0,70.0,C,C
394,80后潘多拉旅馆(香港佐敦店)(原华丰宾馆)(Pandora After 80s Jordan),九龙佐敦佐敦道15号华丰大厦1字楼H室,3.1,36.0,70.0,C,C
395,香港日夜宾馆(Day and Night Hostel),"弥敦道36-44号重庆大厦10字楼D,E座D8& E2室",3.3,63.0,68.0,C,C
396,"巴黎旅馆(Paris Guest House (D2, 10/F))","Flat D2, 10/F, Block D, Chungking Mansion, 40 ...",2.0,5.0,67.0,C,C
397,香港经济型酒店 (家庭旅馆)(Hong Kong Budget Hostel),"弥敦道36-44号重庆大厦10字楼D,E座D8& E2室",2.0,29.0,67.0,C,C

In [324]:
### 27. 使用merge方法将df1和df2合并。

df3 = pd.merge(df1,df2)
df3

,名字,类型,城市,地区,地点,评分,评分人数,价格,价格等级,热门等级
0,香港嘉湖海逸酒店(Harbour Plaza Resort City),休闲度假,香港,元朗,天水围 天恩路18号,4.6,17604.0,422.0,C,B
1,香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay),浪漫情侣,香港,东区,铜锣湾永兴街8号,4.5,12708.0,693.0,B,C
2,香港碧荟酒店(The BEACON),商务出行,香港,油尖旺,九龙旺角洗衣街88号,4.7,328.0,747.0,B,C
3,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,香港,湾仔,皇后大道东387-397号,4.4,5014.0,693.0,B,C
4,如心艾朗酒店(L‘hotel elan),浪漫情侣,香港,观塘,观塘创业街38号,4.6,3427.0,581.0,B,C
...,...,...,...,...,...,...,...,...,...,...
394,香港如心海景酒店暨会议中心(L‘hotel Nina et Convention Centre),海滨风光,香港,荃湾,荃湾 杨屋道8号,4.5,45462.0,709.0,B,A
395,香港如心海景酒店暨会议中心(L‘hotel Nina et Convention Centre),海滨风光,香港,荃湾,荃湾 杨屋道8号,4.5,45463.0,709.0,B,A
396,香港如心海景酒店暨会议中心(L‘hotel Nina et Convention Centre),海滨风光,香港,荃湾,荃湾 杨屋道8号,4.5,45462.0,709.0,B,A
397,香港如心海景酒店暨会议中心(L‘hotel Nina et Convention Centre),海滨风光,香港,荃湾,荃湾 杨屋道8号,4.5,45463.0,709.0,B,A
398,香港花盈酒店(家庭旅馆)(Bloomy Hotel),地铁周边,香港,油尖旺,尖沙咀弥敦道87号华源大厦9字楼C2室,4.0,273.0,256.0,C,C

In [325]:
df3.to_excel('酒店数据2.xlsx')

In [284]:
print(df.head())

                                                 名字    类型  城市   地区  \
0.0             香港嘉湖海逸酒店(Harbour Plaza Resort City)  休闲度假  香港   元朗
1.0  香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay)  浪漫情侣  香港   东区
2.0                              香港碧荟酒店(The BEACON)  商务出行  香港  油尖旺
3.0                       香港湾仔帝盛酒店(Dorsett Wanchai)  浪漫情侣  香港   湾仔
4.0                            如心艾朗酒店(L‘hotel elan)  浪漫情侣  香港   观塘

                地点   评分     评分人数     价格 价格等级
0.0     天水围 天恩路18号  4.6  17604.0  422.0    C
1.0       铜锣湾永兴街8号  4.5  12708.0  693.0    B
2.0     九龙旺角洗衣街88号  4.7    328.0  747.0    B
3.0  皇后大道东387-397号  4.4   5014.0  693.0    B
4.0       观塘创业街38号  4.6   3427.0  581.0    B